{% extends "@PimcorePortalEngine/layout/default.html.twig" %}

{% block content %}

    <div id="root"
         class="full-height-layout"
         data-data-object-id="{{ dataObject.id }}"
         data-data-pool-id="{{ dataPoolId }}"
         data-versions-enabled="{{ enableVersionHistory }}"
         data-detail-url="{{ path('pimcore_portalengine_rest_api_data_object_detail', app.request.query.all|merge({id: dataObject.id, dataPoolId: dataPoolId, documentId: document.id})) }}"
         data-results-list-url="{{ path('pimcore_portalengine_rest_api_data_object_detail_results_list', app.request.query.all|merge({id: dataObject.id, dataPoolId: dataPoolId})) }}"
         data-version-history-url="{{ path("pimcore_portalengine_rest_api_data_object_version_history", {id: dataObject.id, dataPoolId: dataPoolId}) }}"
         data-version-comparison-url="{{ path("pimcore_portalengine_rest_api_data_object_version_data") }}"
    >
    </div>

{% endblock %}

{% block javascripts %}
{#    {{ encore_entry_script_tags('asset-detail', null, webpack_build()) }}#}
    {{ encore_entry_script_tags('data-object', null, webpack_build()) }}
{% endblock %}