{# @var \Pimcore\Bundle\PortalEngineBundle\Model\View\Notification|null notification #}

{% extends "@PimcorePortalEngine/layout/login.html.twig" %}

{% block navbar %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
    <div class="login">
        {% block login_background %}
            <div class="login__bg" style="background-image: url('{{ portalEngine_images_background() }}')"></div>
        {% endblock %}
        {% block login_content %}
            <div class="login__content">
                {% block logo %}
                    <img class="img-fluid" src="{{ portalEngine_images_logo(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\ImageThumbnails::LOGO')) }}">
                {% endblock %}

                <div class="mt-5">
                    {{ form_start(recoverPasswordForm, {attr:{class:'', action: path('pimcore_portalengine_auth_recover_password')}}) }}
                    {% block headline %}
                        <h1 class="login__content__title mb-4">{{ "portal-engine.auth.recover-password-form.headline"|trans }}</h1>
                    {% endblock %}

                    {% block error_message %}
                        {% if(notification) %}
                            <div class="alert alert-{{ notification.htmlClass }}">{{ notification.message }}</div>
                        {% endif %}
                    {% endblock %}

                    {% block form_content %}
                        <div class="form-group">
                            {{ form_row(recoverPasswordForm.userIdentifier, {attr: {class: "form-control form-control--dark"}}) }}
                        </div>

                        <div class="form-group mt-2">
                            {{ form_row(recoverPasswordForm.submit, {'attr': {'class': 'btn btn-block btn-primary text-uppercase'}}) }}
                        </div>
                        {{ form_end(recoverPasswordForm) }}
                    {% endblock %}

                    {% block back_to_login %}
                        <a href="{{ path('pimcore_portalengine_auth_login') }}">{{ 'portal-engine.auth.back-to-login'|trans}}</a>
                    {% endblock %}

                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
