{# @var info \Pimcore\Model\Document\Tag\Area\Info #}

{% set sidebarId = info.editable.realName ~ info.index ~ portalEngine_editmode_uniqid() %}

<div class="{{ editmode ? "my-3 position-relative" }}">
    {% if editmode %}
        <div class="position_relative">
            {{ include("@PimcorePortalEngine/shared/editmode/image-overlay.html.twig", {
                id: "image",
                config: {
                    width: 150,
                    reload: true
                }
            }) }}
        </div>
    {% endif %}

    {{ include("@PimcorePortalEngine/shared/teaser/big-cta.html.twig", {
        color: pimcore_select("color").data,
        mediaLeft: pimcore_checkbox("media_left").isChecked(),
        title: pimcore_input("title"),
        description: pimcore_wysiwyg("description"),
        button: not editmode ? pimcore_link("link") : null,
        imageEditable: "image",
        content: include("@PimcorePortalEngine/Areas/portal-engine-teaser-cta/configure.html.twig", {
            sidebarId: sidebarId
        })
    }) }}
</div>

{% if editmode %}

    {% embed "@PimcorePortalEngine/shared/editmode/configuration/sidebar.html.twig" %}
        {% block sidebarContent %}

            <div class="card">
                <div class="card-body">

                    {{ include("@PimcorePortalEngine/shared/editmode/select.html.twig", {
                        label: "content.color",
                        id: "color",
                        config: {
                            store: [
                                ["white", "white"],
                                ["primary", "primary"]
                            ],
                            reload: true
                        }
                    }) }}

                    {{ include("@PimcorePortalEngine/shared/editmode/checkbox.html.twig", {
                        label: "content.media-left",
                        id: "media_left"
                    }) }}

                </div>
            </div>

        {% endblock %}
    {% endembed %}

{% endif %}
