<div class="row">
    <div class="col-lg-7 col-xl-8">
        <h1 class="m-b-40">{{ pimcore_input('headline',{'placeholder':'headlines'}) }}</h1>
        <div class="detail_left">
            <section id="marked-content">
                {{  pimcore_wysiwyg("specialContent", {
                    "height": 200,
                    "placeholder" : "edit content..."
                })
                }}
            </section>
        </div>
    </div>
    <div class="col-lg-5 col-xl-4">
        <div class="detail_right">
            <div class="detail_right_circle">
                <div class="circle left"></div>
                <div class="circle right"></div>
            </div>
            <div class="detail_info_content">
                <h6 class="m-t-30">{{ pimcore_input('title',{'placeholder':'title'}) }}</h6>
                <div class="find-out m-b-8">{{ pimcore_input('describe',{'placeholder':'describe text..'}) }}</div>

                {{ pimcore_link('tel',{
                    'class' : 'd-flex m-b-8 ctu',
                    'textPrefix' : '<img src="/static/images/phone-purple.d4d247d.svg" alt=""> ',
                    'title' : 'tel..'
                }) }}

                {{ pimcore_link('email',{
                    'class' : 'd-flex ctu',
                    'textPrefix' : '<img src="/static/images/email-purple.780328a.svg" alt=""> ',
                    'title' : 'tel..'
                }) }}

                {{ pimcore_areablock('download',{
                    "allowed" : ["patent-analytics-download"]
                }) }}
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="share" style="display:none">
                <div class="text">Share</div>
                <a class="share-item facebook" href="https://www.facebook.com/sharer/sharer.php">
                    <img src="/static/images/icon-fb.5385053.svg" alt="">
                </a>
                <a class="share-item linkedin" href="http://www.linkedin.com/shareArticle">
                    <img src="/static/images/icon-in.eea5837.svg" alt="">
                </a>
                <a class="share-item twitter" href="http://twitter.com/share">
                    <img src="/static/images/icon-tw.f378db6.svg" alt="">
                </a>
                <a class="share-item email" href="mailto:?subject=Title Goes Here&body=">
                    <img src="/static/images/icon-email.940dc0d.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
