{% extends template_layout_name %}

{% block content %}
  <section class="academy_overview__page career-landing-page">
        <section class="about ">
            <div class="about_bg_circle"></div>
            <div class="about_bg_ipos"><img src="/static/static/assets/images/IPOS.d59bcba.svg" alt=""></div>
            <div class="container about_content">
                <div class="resources_public_container">
                    <div class="resources_public_title_nav container dark">
                        <nav class="d-none d-md-block nav-view" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '&gt;';">
                            {% include('layouts/breadcrumb-col-12.html.twig') %}
                        </nav>
                    </div>
                </div>
                {{ pimcore_areablock("headlines", {
                    "allowed": [
                        "advisory-tools","advisory-explore","careers-overview-headlines"
                    ]
                }) }}
            </div>
        </section>
        <!-- Discover Section -->
        {{ pimcore_areablock("toold", {
            "allowed": [
                "advisory-tools","advisory-explore","careers-overview-headlines", "careers-discover-tools"
            ]
        }) }}
        <!-- Gain and Achieve Section -->
        <section class="gain-achieve-section">
            <div class="credential_content_left"><img src="/static/static/assets/images/credential_left.3f3dad0.svg" alt=""></div>
            <div class="credential_content_right"><img src="/static/static/assets/images/credential_right.a13c81c.svg" alt=""></div>
            <div class="container">
                <h2>
                    {{ pimcore_input('title',{'placeholder' : 'title'}) }}
                </h2>
                <div class="gain-achieve-grid">
                    <!-- Global Exposure -->
                    <div class="gain-item">
                        <div class="tools_image">
                            {{ pimcore_image("overviewTool1", {
                                "class" : "cover",
                                "thumbnail": "advisoryOverview"
                            }) }}
                            {#<img class="cover" src="/static/images/tools.40b83c3.png" alt="">#}
                        </div>
                        {# <img src="/static/static/assets/images/career/gain-1.svg" alt="Global Exposure" /> #}
                        <div>
                            <h3>{{ pimcore_input('titleItem1',{'placeholder' : 'item 1'}) }}</h3>
                            <p>
                                {{  pimcore_wysiwyg("specialContent", {
                                        "placeholder" : "edit content 1..."
                                    })
                                }}
                            </p>
                        </div>
                    </div>
                    <!-- Career Growth -->
                    <div class="gain-item">
                        <div class="tools_image">
                            {{ pimcore_image("overviewTool2", {
                                "class" : "cover",
                                "thumbnail": "advisoryOverview"
                            }) }}
                            {#<img class="cover" src="/static/images/tools.40b83c3.png" alt="">#}
                        </div>
                        {# <img src="/static/static/assets/images/career/gain-1.svg" alt="Global Exposure" /> #}
                        <div>
                            <h3>{{ pimcore_input('titleItem2',{'placeholder' : 'item 1'}) }}</h3>
                            <p>
                                {{  pimcore_wysiwyg("specialContent", {
                                        "placeholder" : "edit content 1..."
                                    })
                                }}
                            </p>
                        </div>
                    </div>
                    <!-- Diverse Career Paths -->
                    <div class="gain-item">
                        <div class="tools_image">
                            {{ pimcore_image("overviewTool3", {
                                "class" : "cover",
                                "thumbnail": "advisoryOverview"
                            }) }}
                            {#<img class="cover" src="/static/images/tools.40b83c3.png" alt="">#}
                        </div>
                        {# <img src="/static/static/assets/images/career/gain-1.svg" alt="Global Exposure" /> #}
                        <div>
                            <h3>{{ pimcore_input('titleItem3',{'placeholder' : 'item 1'}) }}</h3>
                            <p>
                                {{  pimcore_wysiwyg("specialContent", {
                                        "placeholder" : "edit content 1..."
                                    })
                                }}
                            </p>
                        </div>
                    </div>
                    <!-- Impactful Work -->
                    <div class="gain-item">
                        <div class="tools_image">
                            {{ pimcore_image("overviewTool4", {
                                "class" : "cover",
                                "thumbnail": "advisoryOverview"
                            }) }}
                            {#<img class="cover" src="/static/images/tools.40b83c3.png" alt="">#}
                        </div>
                        {# <img src="/static/static/assets/images/career/gain-1.svg" alt="Global Exposure" /> #}
                        <div>
                            <h3>{{ pimcore_input('titleItem4',{'placeholder' : 'item 1'}) }}</h3>
                            <p>
                                {{  pimcore_wysiwyg("specialContent", {
                                        "placeholder" : "edit content 1..."
                                    })
                                }}
                            </p>
                        </div>
                    </div>
                    <!-- Innovative Workspace -->
                    <div class="gain-item">
                        <div class="tools_image">
                            {{ pimcore_image("overviewTool5", {
                                "class" : "cover",
                                "thumbnail": "advisoryOverview"
                            }) }}
                            {#<img class="cover" src="/static/images/tools.40b83c3.png" alt="">#}
                        </div>
                        {# <img src="/static/static/assets/images/career/gain-1.svg" alt="Global Exposure" /> #}
                        <div>
                            <h3>{{ pimcore_input('titleItem5',{'placeholder' : 'item 1'}) }}</h3>
                            <p>
                                {{  pimcore_wysiwyg("specialContent", {
                                        "placeholder" : "edit content 1..."
                                    })
                                }}
                            </p>
                        </div>
                    </div>
                    <!-- Attractive Rewards -->
                    <div class="gain-item">
                        <div class="tools_image">
                            {{ pimcore_image("overviewTool6", {
                                "class" : "cover",
                                "thumbnail": "advisoryOverview"
                            }) }}
                            {#<img class="cover" src="/static/images/tools.40b83c3.png" alt="">#}
                        </div>
                        {# <img src="/static/static/assets/images/career/gain-1.svg" alt="Global Exposure" /> #}
                        <div>
                            <h3>{{ pimcore_input('titleItem6',{'placeholder' : 'item 1'}) }}</h3>
                            <p>
                                {{  pimcore_wysiwyg("specialContent", {
                                        "placeholder" : "edit content 1..."
                                    })
                                }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="proudly">
                    <img src="/static/static/assets/images/career/prodly.svg" alt="Progressive Wage Mark" />
                    <p>
                        IPOS International proudly holds the Progressive Wage Mark.
                    </p>
                </div>
            </div>
        </section>
        <!-- Explore Section -->
        <section class="explore-section">
            <div class="container courses_tab_content_item active">
                <h2>Explore</h2>
                <div class="explore-cards row">
                    <!-- Card 1: Our People & Culture -->
                    <div class="courses_tab_content_item_card col-lg-6">
                        <div class="card_image">
                            <img class="cover" src="/static/static/assets/images/credential_banner.457068b.png" width="2093"
                                height="1570" alt="">
                        </div>
                        <div class="card_content">
                            <div class="card_content_top">
                                <div class="title">Our People &
                                    Culture</div>
                                <div class="description">
                                    At IPOS International, our diverse team thrives on collaboration, innovation, and
                                    mutual respect. We foster a culture that values growth, inclusion, and continuous
                                    learning.
                                </div>
                            </div>
                            <a href="" class="find-out">
                                Find out more</a>
                        </div>
                    </div>
                    <div class="courses_tab_content_item_card col-lg-6">
                        <div class="card_image">
                            <img class="cover" src="/static/static/assets/images/credential_banner.457068b.png" width="2093"
                                height="1570" alt="" />
                        </div>
                        <div class="card_content">
                            <div class="card_content_top">
                                <div class="title">Job
                                    Openings</div>
                                <div class="description">
                                    Explore exciting career opportunities at IPOS International and join a dynamic team
                                    dedicated to shaping the future of intellectual property.
                                </div>
                            </div>
                            <a href="" class="find-out">
                                Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Social Media Section -->
        <section class="social-media-section">
            <div class="container">
                <h3 style="color: #000; margin-bottom: 20px;">Stay Connected with Us</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com" target="_blank" style="text-decoration: none;">
                        <img src="/static/static/assets/images/common/fb.svg" alt="Facebook" width="50" height="50" />
                    </a>
                    <a href="https://www.linkedin.com" target="_blank" style="text-decoration: none;">
                        <img src="/static/static/assets/images/common/in.svg" alt="LinkedIn" width="50" height="50" />
                    </a>
                    <a href="https://twitter.com" target="_blank" style="text-decoration: none;">
                        <img src="/static/static/assets/images/common/twitter.svg" alt="Twitter" width="50" height="50" />
                    </a>
                    <a href="https://www.instagram.com" target="_blank" style="text-decoration: none;">
                        <img src="/static/static/assets/images/common/ig.svg" alt="Instagram" width="50" height="50" />
                    </a>
                    <a href="https://www.youtube.com" target="_blank" style="text-decoration: none;">
                        <img src="/static/static/assets/images/common/yt.svg" alt="YouTube" width="50" height="50" />
                    </a>
                    <a href="https://www.tiktok.com" target="_blank" style="text-decoration: none;">
                        <img src="/static/static/assets/images/common/tiktok.svg" alt="TikTok" width="50" height="50" />
                    </a>
                </div>
            </div>
        </section>
    </section>
  <script src="/static/static/js/shares.js?v={{ random() }}"></script>
  <script src="http://vjs.zencdn.net/5.4.4/video.js"></script>
  <script>
    $(function () {
      var obj = $("iframe");
      if (obj){
        obj.attr('class','content_img');
      }

    })
  </script>
{% endblock %}
