{% extends template_layout_name %}

{% block content %}

    <div class="resources_public_container about_container">
      {% if editmode %}
        <div class="public_page_header">
          <div class="bgView"></div>
          <div class="left_cricle"></div>
          {# <div class="icon_ipos"></div>#}
          <div class="resources_public_title_nav container dark">
            <div class="row">
              <div class="col-12">
                <nav class="d-block nav-view" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '&gt;';">
		            {% include('layouts/breadcrumb-col-12.html.twig') %}
                </nav>
                {#<div class="d-block d-md-none mobile_nav">#}
                {#  <span class="back_arrow">&lt; </span>#}
                {#  <span class="back_txt">Home</span>#}
                {#</div>#}
              </div>
            </div>
          </div>
          <div class="pimcore_area_overview-headlines pimcore_area_content ">
          <div class="content container">
            <p class="title">{{ pimcore_input('title',{'placeholder' : 'title'}) }}</p>
            <div class="sub-content row">
                <div class="sub-title col-md-12 col-12">
                  <section id="marked-content">
                      {{  pimcore_wysiwyg("content1", {
                          "height": 200,
                          "placeholder" : "edit content..."
                      })
                      }}
                  </section>
                </div>

                <div class="m-b-45">
                            <p class="mini-label m-b-15">{{ pimcore_input('title2',{'placeholder' : 'title...'}) }}</p>
                            <p class="txt-large">{{ pimcore_link('telLink') }}</p>
                            <p>
                                {{ pimcore_link('mailtoLink') }}
                            </p>
                        </div>
            </div>
          </div>


          {# {{ pimcore_areablock("Headline", {
            "allowed": [
              "overview-headlines"
            ]
          }) }} #}
        </div>
      {% else %}
        <div class="public_page_header">
          <div class="bgView"></div>
          <div class="left_cricle"></div>
          <div class="icon_ipos" style="z-index:-1"></div>
          <div class="resources_public_title_nav container dark">
            <div class="row">
              <div class="col-12">
                <nav class="d-block nav-view" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '&gt;';">
                  {% include('layouts/breadcrumb-col-12.html.twig')  %}
                </nav>
                {#<div class="d-block d-md-none mobile_nav"><span class="back_arrow">&lt; </span><span class="back_txt">Home</span>#}
                {#</div>#}
              </div>
            </div>
          </div>
<div class="pimcore_area_overview-headlines pimcore_area_content ">
          <div class="content container">
            <p class="title">{{ pimcore_input('title',{'placeholder' : 'title'}) }}</p>
            <div class="sub-content row">
                <div class="sub-title col-md-12 col-12">
                  <section id="marked-content">
                      {{  pimcore_wysiwyg("content1", {
                          "height": 200,
                          "placeholder" : "edit content..."
                      })
                      }}
                  </section>
                </div>
                <div class="m-b-45 mt-5">
                            <p class="txt-large text-white">{{ pimcore_input('title2',{'placeholder' : 'title...'}) }}</p>
                            <p>
                                <span> <img class="icon" src="/static/images/mail.88b1536.png" alt="Mail"></span> {{ pimcore_link('mailtoLink') }}
                            </p>
                        </div>
                        
            </div>
          </div>
          </div>


          {# {{ pimcore_areablock("Headline", {
            "allowed": [
              "overview-headlines"
            ]
          }) }} #}
        </div>
      {% endif %}
    </div>


<div class="faq_container resources_public_container">
  <div class="bg_circle"></div>
  
  <div class="container page__title__container">
    <div class="row mt-5">
      <div class="col-12">
        <p class="p__title">{{ pimcore_input('questionTitle',{'placeholder':'Frequently Asked Questions'})  }}</p>
        <p class="mb-4">{{ pimcore_input('questionSubTitle',{'placeholder':'Sub Title'})  }}</p>
      </div>
    </div>
  </div>
  <div class="slide-container container">
    <div class="row">
      <div class="col-md-3">
        <div class="slide-menu-container">
          <p class="slide_title">TOPICS</p>
          <nav class="menu-container">
{#<a class="menu-item active" herf="part_0">Intellectual Property and Intangible Assets</a><a class="menu-item" herf="part_1">Discover Intangible Assets</a><a class="menu-item" herf="part_2">International Business Continuity Planning (BCP)</a> #}
		{% for k,item in faqType %}
              {% if k == 0 %}
                  <a class="menu-item active" herf="part_{{ k }}">{{ item.value }}</a>
                {% else %}
                  <a class="menu-item " herf="part_{{ k }}">{{ item.value }}</a>
              {% endif %}

            {% endfor %}
          </nav>
        </div>
      </div>
      <div class="col-md-9">
        <div class="slide-body-container">

          {% for key,type in faqType %}
            <div class="part part_{{ key }}">
              <p class="p__title">{{ type.value }}</p>
              <div class="collapse-container">
                {% for faq in list %}
                  {% if faq.questionType == type.value %}
                    <div class="collapse-item">
                      <div class="collapse-item-header">
                        <div class="header-txt">{{ faq.question }}</div>
                        <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                      </div>
                      <div class="collapse-item-content">
                        {{ faq.answer | raw }}
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}


              </div>
            </div>


          {% endfor %}


        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
