{# @var \Pimcore\Bundle\PortalEngineBundle\Entity\Collection collection #}
{# @var \Pimcore\Bundle\PortalEngineBundle\Model\Configuration\DataPool\DataPoolConfigInterface[] dataPoolConfigs #}
{# @var string activeDataPoolType #}
{# @var int activeDataPoolId #}

{% extends "@PimcorePortalEngine/layout/default.html.twig" %}

{% do portalEngine_frontendConfig().setConfig("collection.id", collection.id) %}
{% do portalEngine_frontendConfig().setConfig("list.selectAllMaxSize", selectAllMaxSize) %}

{% block content %}

    {% if dataPoolConfigs is empty %}

        {% block empty %}
            <div class="container">
                <div class="main-content__main">

                    <h1 class="mb-4 mt-1">{{ collection.name }}</h1>

                    <div class="alert alert-warning">
                        {{ 'portal-engine.collection.is-empty'|trans() }}
                    </div>

                    <div id="root"></div>
                </div>
            </div>
        {% endblock %}

    {% else %}

        {% block container %}
            <div class="container">
                <div class="mt-4">

                    <div class="row mb-4 align-items-end vertical-gutter">
                        <div class="col vertical-gutter__item">
                            <h1 class="mb-0">{{ collection.name }}</h1>
                        </div>
                        <div class="col-auto vertical-gutter__item">
                            <div id="collection-actions"></div>
                        </div>
                    </div>

                    {% if dataPoolConfigs | length > 1 %}
                        <ul class="nav nav-tabs nav-tabs--dark nav-tabs--bar-sm">
                            {% for dataPoolConfig in dataPoolConfigs %}
                                <li class="nav-item">
                                    <a class="nav-link {{ dataPoolConfig.languageVariantDataPoolId == activeDataPoolId ? 'active' : '' }}" href="{{ path('pimcore_portalengine_collection_detail', {collectionId: collection.id, activeDataPoolId: dataPoolConfig.languageVariantDataPoolId}) }}">{{ portalEngine_translate(dataPoolConfig.dataPoolName, constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\DataPool\\TranslatorDomain::DOMAIN_COLLECTION_TAB_LABEL')) }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endblock %}

        {% if activeDataPoolType == constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\ElementType::DATA_OBJECT') %}

            <div
                id="root"
                class="full-height-layout"
                data-list-type="data-object"
                data-list-url="{{ path('pimcore_portalengine_rest_api_data_object_list', {dataPoolId:activeDataPoolId, collectionId:collection.id}) }}"
                data-filters-url="{{ path('pimcore_portalengine_rest_api_data_object_list_filters', {dataPoolId:activeDataPoolId, collectionId:collection.id}) }}"
                data-folders-url="{{ path('pimcore_portalengine_rest_api_data_object_list_folders', {dataPoolId:activeDataPoolId, collectionId:collection.id}) }}"
                data-tags-url="{{ path('pimcore_portalengine_rest_api_data_object_list_tags', {dataPoolId:activeDataPoolId, collectionId:collection.id}) }}"
                data-all-selectable-ids-url="{{ path('pimcore_portalengine_rest_api_data_object_select_all_ids', {dataPoolId:activeDataPoolId, collectionId:collection.id}) }}"
            >
            </div>

        {% endif %}

        {% if activeDataPoolType == constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\ElementType::ASSET') %}
            {% block react_root %}
                <div
                    id="root"
                    class="full-height-layout"
                    data-list-type="asset"
                    data-list-url="{{ path('pimcore_portalengine_rest_api_asset_list', {dataPoolId:activeDataPoolId, collectionId:collection.id}) }}"
                    data-filters-url="{{ path('pimcore_portalengine_rest_api_asset_list_filters', {dataPoolId:activeDataPoolId, collectionId:collection.id}) }}"
                    data-folders-url="{{ path('pimcore_portalengine_rest_api_asset_list_folders', {dataPoolId:activeDataPoolId, collectionId:collection.id}) }}"
                    data-tags-url="{{ path('pimcore_portalengine_rest_api_asset_list_tags', {dataPoolId:activeDataPoolId, collectionId:collection.id}) }}"
                    data-all-selectable-ids-url="{{ path('pimcore_portalengine_rest_api_asset_select_all_ids', {dataPoolId:activeDataPoolId, collectionId:collection.id}) }}"
                >
                </div>
            {% endblock %}
        {% endif %}

    {% endif %}

{% endblock %}

{% block javascripts %}
    {% if not activeDataPoolType %}
        {{ encore_entry_script_tags('content', null, webpack_build()) }}
    {% else %}
        {{ encore_entry_script_tags('collection-detail', null, webpack_build()) }}
    {% endif %}

{% endblock %}

