{# @var \Pimcore\Bundle\PortalEngineBundle\Entity\PublicShare publicShare #}
{# @var \Pimcore\Bundle\PortalEngineBundle\Model\Configuration\DataPool\DataPoolConfigInterface[] dataPoolConfigs #}
{# @var string activeDataPoolType #}
{# @var int activeDataPoolId #}
{# @var bool showDataPoolTabs #}
{# @var bool showTermsText #}
{# @var string termsText #}


{% extends "@PimcorePortalEngine/layout/public.html.twig" %}

{% do portalEngine_frontendConfig().setConfig("publicShare.id", publicShare.id) %}
{% do portalEngine_frontendConfig().setConfig("publicShare.hash", publicShare.hash) %}
{% do portalEngine_frontendConfig().setConfig("publicShare.showTermsText", showTermsText) %}
{% do portalEngine_frontendConfig().setConfig("publicShare.termsText", termsText) %}

{% block content %}
    {% if dataPoolConfigs is empty %}

        <div class="container">
            <div class="main-content__main">

                <h1 class="mb-4 mt-1">{{ publicShare.name }}</h1>

                <div class="alert alert-warning">
                    {{ 'portal-engine.public-share.is-empty'|trans() }}
                </div>

                <div id="root"></div>
            </div>
        </div>

    {% else %}

        <div class="container">
            <div class="mt-4">

                <div class="row mb-4 align-items-end vertical-gutter">
                    <div class="col vertical-gutter__item">
                        <h1 class="mb-0">{{ publicShare.name }}</h1>
                    </div>
                    <div class="col-auto vertical-gutter__item">
                        <div id="public-share-actions"></div>
                    </div>
                </div>

                {% if showDataPoolTabs %}
                    <ul class="nav nav-tabs nav-tabs--dark nav-tabs--bar-sm">
                        {% for dataPoolConfig in dataPoolConfigs %}
                            <li class="nav-item">
                                <a class="nav-link {{ dataPoolConfig.id == activeDataPoolId ? 'active' : '' }}"
                                   href="{{ pimcore_url({publicShareHash: publicShare.hash, activeDataPoolId: dataPoolConfig.id}) }}">{{ portalEngine_translate(dataPoolConfig.dataPoolName, constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\DataPool\\TranslatorDomain::DOMAIN_PUBLIC_SHARE_TAB_LABEL')) }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>
        </div>

        {% if activeDataPoolType == constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\ElementType::DATA_OBJECT') %}

            <div
                id="root"
                class="full-height-layout"
                data-list-type="data-object"
                data-list-url="{{ path('pimcore_portalengine_rest_api_public_share_data_object_list', {dataPoolId:activeDataPoolId, publicShareHash:publicShare.hash}) }}"
                data-filters-url="{{ path('pimcore_portalengine_rest_api_public_share_data_object_list_filters', {dataPoolId:activeDataPoolId, publicShareHash:publicShare.hash}) }}"
            >
            </div>

        {% endif %}

        {% if activeDataPoolType == constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\ElementType::ASSET') %}

            <div
                id="root"
                class="full-height-layout"
                data-list-type="asset"
                data-list-url="{{ path('pimcore_portalengine_rest_api_public_share_asset_list', {dataPoolId:activeDataPoolId, publicShareHash:publicShare.hash}) }}"
                data-filters-url="{{ path('pimcore_portalengine_rest_api_public_share_asset_list_filters', {dataPoolId:activeDataPoolId, publicShareHash:publicShare.hash}) }}"
            >
            </div>

        {% endif %}

    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if not activeDataPoolType %}
        {{ encore_entry_script_tags('content', null, webpack_build()) }}
    {% else %}
        {{ encore_entry_script_tags('public-share-list', null, webpack_build()) }}
    {% endif %}
{% endblock %}
