{# @var \Pimcore\Bundle\PortalEngineBundle\Entity\PublicShare publicShare #}
{# @var bool showTermsText #}
{# @var string termsText #}

{% extends "@PimcorePortalEngine/layout/public.html.twig" %}

{% do portalEngine_frontendConfig().setConfig("list.folders.root.path", rootPath) %}
{% do portalEngine_frontendConfig().setConfig("list.folders.root.name", rootName) %}

{% do portalEngine_frontendConfig().setConfig("publicShare.id", publicShare.id) %}
{% do portalEngine_frontendConfig().setConfig("publicShare.hash", publicShare.hash) %}
{% do portalEngine_frontendConfig().setConfig("publicShare.showTermsText", showTermsText) %}
{% do portalEngine_frontendConfig().setConfig("publicShare.termsText", termsText) %}

{% block content %}

    <div id="root"
         class="full-height-layout"
         data-asset-id="{{ asset.id }}"
         data-versions-enabled="{{ enableVersionHistory }}"
         data-detail-url="{{ path('pimcore_portalengine_rest_api_public_share_asset_detail', app.request.query.all|merge({id: asset.id, dataPoolId: dataPoolId, publicShareHash:publicShare.hash})) }}"
         data-results-list-url="{{ path('pimcore_portalengine_rest_api_public_share_asset_detail_results_list', app.request.query.all|merge({id: asset.id, dataPoolId: dataPoolId, publicShareHash:publicShare.hash})) }}"
    >
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('asset-detail', null, webpack_build()) }}
{% endblock %}