{% extends 'layouts/layout.html.twig' %}

{% do document.setTitle(list.seoTitle | default(list.title ~ ' — IPOS International')) %}
{% do pimcore_head_meta().setName("description", list.seoDescription | default(list.content | striptags | u.truncate(320))) %}
{% do pimcore_head_meta().setName("keywords", list.tags | default('')) %}

{% set domain = app.request.getSchemeAndHttpHost() %}

{% set img = list.coverImage.getThumbnail('coverImg') %}

{% do pimcore_head_meta().setProperty("og:title", list.title) %}
{% do pimcore_head_meta().setProperty("og:type", "article") %}
{% do pimcore_head_meta().setProperty("og:description", list.content | striptags | u.truncate(320)) %}
{% do pimcore_head_meta().setProperty("og:image", domain ~ img) %}
{% do pimcore_head_meta().setProperty("og:url", app.request.uri) %}

{% do pimcore_head_meta().setProperty("twitter:card","summary") %}
{% do pimcore_head_meta().setProperty("twitter:url",app.request.uri) %}
{% do pimcore_head_meta().setProperty("twitter:type","article") %}
{% do pimcore_head_meta().setProperty("twitter:title",list.title) %}
{% do pimcore_head_meta().setProperty("twitter:description",list.content | striptags | u.truncate(160)) %}
{% do pimcore_head_meta().setProperty("twitter:image",domain ~ img) %}
{% do pimcore_head_meta().setProperty("twitter:image:src",domain ~ img) %}

{% block content %}


    <div class="case_studies_details_container resources_public_container">
        <div class="bg_circle"></div>
        <div class="resources_public_title_nav container">
            <div class="row">
                <div class="col-12">
                    <nav class="d-none d-md-block nav-view" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '&gt;';">
                        <ol class="breadcrumb col-12">
                            <li class="breadcrumb-item"><a href="/">{{ 'Home'|trans }}</a></li>
			    <li class="breadcrumb-item"><a href="{{ pimcore_document(32).fullpath }}">Resources</a></li>                          
                            <li class="breadcrumb-item"><a href="{{ pimcore_document(35).fullpath }}">Case Studies</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ list.title  }}</li>
                        </ol>
                    </nav>
                    <div class="d-block d-md-none mobile_nav"><span class="back_arrow">&lt; </span><a href="{{ pimcore_document(35).fullpath }}" class="back_txt">Case Studies </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container page__title__container">
            <div class="row">
                <div class="col-12">
                    <p class="p__title">{{ list.title }}</p>
                </div>
            </div>
        </div>
        <div class="container author_container">
            <div class="row">
                <div class="col-12">
                    <div class="posted-container">
                        <span class="lable m-r-4">Posted on</span>
                        <span class="value">{{ list.releaseDate | date('d M, Y') }}</span>
                        <br class="d-block d-md-none">
                        {% if list.authorIcon is not empty %}
			    <img class="value-img" src="{{ list.authorIcon.getThumbnail('AuthorLogo') }}"  >
                            {# {{ list.authorIcon.thumbnail('ProfilePhoto').html({imgAttributes:{class:'value-img'}}) |raw }} #}
                        {% endif %}
                        <span class="lable m-r-4">By</span>
                        <span class="value">{{ list.author }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="details_img_body_container container">
            <div class="row">
                <div class="col-12">
                    <div class="content_main_img">
                        {% if list.video is not empty  %}
                            <iframe class="content_img" {#width="560" height="315"#} src="https://www.youtube.com/embed/{{ list.video.data }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% else %}
                                <img class="content_img" src="{{ list.coverImage.getThumbnail('coverImg') }}" >
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="body_container container">
            <div class="row">
                <div class="col-md-8 col-12 column-padding">
                    {{ list.content | raw }}
                    <div class="public_resources_split_line"></div>


                    {% if list.bookChat is not empty %}
                        <div class="public_book_card_container">
                            <div class="part_1">
                                <img class="img-bg d-none d-md-block" src="/static/images/ribbon_not_arrow.793b256.svg">
                                <img class="img-bg d-block d-md-none" src="/static/images/ribbon.f4e9e6a.svg">
                           	{% if list.bookChat.chatLogo is not empty %}
                                    <img src="{{ list.bookChat.chatLogo.getThumbnail('BookIaChat') }}" class="img-resoure" alt="">
{#                                    {{ list.bookChat.chatLogo.thumbnail('coverImg').html({imgAttributes:{class:'img-resoure'}}) | raw }}#}
                                {% endif %}
                                
                            </div>

                            <div class="part_2">
                                <p class="title">{{ list.bookChat.title }}</p>
                                <a class="button" href="{{ list.bookChat.targetLink.path }}"> {{ list.bookChat.targetLink.text }}</a>
                            </div> 

                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4 col-12">
                    <div class="resources_public_recommend-container">
                        {% if list.interestedList is not empty %}
                            {% if list.interestedTitle is not empty %}
                                <p class="recommend-title">{{ list.interestedTitle }}</p>
                                {% else %}
                                    <p class="recommend-title">Also Worth Reading/Watching</p>
                            {% endif %}

                            {% for item in list.interestedList %}
                                <a href="{{ item }}_{{ item.getId() }}" class="recommend_item">

                                    {% if item.coverImage is not empty %}
					<img class="recommend-img" src="{{ item.coverImage.getThumbnail('coverImg') }}" >
                                       {# {{ item.coverImage.thumbnail('coverImg').html({imgAttributes:{class:'recommend-img'}}) |raw }} #}
                                    {% endif %}
                                    <div class="recommend-txt-layout">
                                        <p class="txt-date">{{ item.resourceType | default('') }}</p>
                                        <p class="recommend-txt-title">{{ item.title }}</p>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}

                        {% if list.shares is not empty %}
                            <div class="share-container">
                                <span class="share-txt">SHARE</span>
                                <div class="share-layout">
                                    {% for share in list.shares %}
                                        {% if share.getShare().class == 'share-icon facebook' %}
                                            <a class="{{ share.getShare().class }}" style="background-image:url('/static/images/icon-Facebook.c78e324.svg')" {{ share.getShare().attributes | raw }} href="{{ share.getShare().direct }}"></a>
                                        {% endif %}

                                        {% if share.getShare().class == 'share-icon linkedin' %}
                                            <a class="{{ share.getShare().class }}" style="background-image:url('/static/images/icon-Linkedin.dac1a71.svg')" {{ share.getShare().attributes | raw }} href="{{ share.getShare().direct }}"></a>
                                        {% endif %}
                                        
                                        {% if share.getShare().class == 'share-icon twitter' %}
                                            <a class="{{ share.getShare().class }}" style="background-image:url('/static/images/icon-Twitter.6adf57e.svg')" {{ share.getShare().attributes | raw }} href="{{ share.getShare().direct }}"></a>
                                        {% endif %}

                                        {% if share.getShare().class == 'share-icon email' %}
                                            <a class="{{ share.getShare().class }}" style="background-image:url('/static/images/icon-Email.bd681cf.svg')" {{ share.getShare().attributes | raw }} href="{{ share.getShare().direct }}"></a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/static/js/shares.js?v={{ random() }}"></script>
{% endblock %}
