<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% block head %}
        {% include "@PimcorePortalEngine/shared/layout/head.html.twig" %}
    {% endblock %}
</head>
<body class="full-height-layout">

{% include "@PimcorePortalEngine/shared/frontend_setup.html.twig" %}

{% block navbar %}
    {% include "@PimcorePortalEngine/shared/navbar.html.twig" %}
{% endblock %}

<div class="main-content full-height-layout">
    {% block content %}
    {% endblock %}
</div>

<div id="overlay-portal">
    <!-- Portal for react overlays -->
</div>

{% block footer %}
    {% include "@PimcorePortalEngine/shared/footer.html.twig" %}
{% endblock %}

{{ portalEngine_frontendConfig() | raw }}


{% block javascripts %}
    {{ encore_entry_script_tags('content', null, webpack_build()) }}
{% endblock %}

{{ pimcore_inline_script() }}

{% if portalEngine_isStatisticsExplorerEnabled() %}
    <script type="text/javascript">
        statisticsExplorerConfig = {
            loadConfigurationUrl: '/_portal-engine/stats/portal/load',
            resultDataUrl: '/_portal-engine/stats/portal/data',
            translationsUrl: '/_portal-engine/stats/portal/translations'
        }
    </script>
    {{ encore_entry_link_tags('loader', null, 'pimcoreStatisticsExplorer') }}
    {{ encore_entry_script_tags('loader', null, 'pimcoreStatisticsExplorer') }}
{% endif %}

</body>
</html>