

{% if not document is defined or not document %}
    {% set document = pimcore_document(1) %}
{% endif %}

{% set navStartNode = document.getProperty('navigation_root') %}

{% if not navStartNode is instanceof('\\Pimcore\\Model\\Document') %}
    {% set navStartNode = pimcore_document(1) %}
{% endif %}

{% set mainNavigation = pimcore_build_nav({active: document, root: navStartNode}) %}

{% set menuRenderer = pimcore_nav_renderer('menu') %}

<nav class="main-nav">
    <ul>
        <li> <a class="main-nav-logo-wrap" href="/">
                <div><svg width="106" height="44" viewBox="0 0 106 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.602281 32.8912H10.1384C10.473 32.8912 10.7407 32.6235 10.7407 32.2889V0.836412C10.7407 0.501812 10.473 0.234131 10.1384 0.234131H0.602281C0.267681 0.267591 0 0.535272 0 0.869872V32.3223C0 32.6235 0.267681 32.8912 0.602281 32.8912Z" fill="#470A68"/>
                        <path d="M76.0882 16.5627C76.0882 25.6973 68.6601 33.1255 59.5255 33.1255C50.3909 33.1255 42.9627 25.6973 42.9627 16.5627C42.9627 7.42814 50.3909 0 59.5255 0C68.6935 0 76.0882 7.42814 76.0882 16.5627Z" fill="#470A68"/>
                        <path d="M100.313 13.2167C103.291 15.057 105.265 17.968 105.5 21.3475C105.901 27.4037 100.447 32.6904 93.2867 33.1254C87.4647 33.4935 82.4122 30.7832 78.9993 27.7718C78.765 27.5711 78.7316 27.2365 78.8989 27.0022L83.9513 19.5741C81.0069 17.9011 79.0662 14.8897 78.8654 11.8448C78.4304 5.78854 83.8844 0.50185 91.0449 0.066869C95.7962 -0.234272 99.8114 0.66915 105.232 5.01896C105.466 5.21972 105.533 5.55432 105.366 5.822L100.313 13.2167Z" fill="#470A68"/>
                        <path d="M28.7422 0.267578H25.162H15.0236C14.689 0.267578 14.4213 0.535259 14.4213 0.86986V22.7193V32.3223C14.4213 32.6569 14.689 32.9246 15.0236 32.9246H24.5597C24.8943 32.9246 25.162 32.6569 25.162 32.3223V22.6858H28.943C35.2 22.6858 40.2525 17.5664 40.1521 11.2759C40.0517 5.11929 34.8989 0.267578 28.7422 0.267578Z" fill="#470A68"/>
                        <path d="M0.267663 43.8327C0.234203 43.7992 0.234203 43.7658 0.234203 43.6989V38.4122C0.234203 38.3453 0.234203 38.3118 0.267663 38.2783C0.301123 38.2449 0.334584 38.2449 0.401504 38.2449H0.568804C0.635724 38.2449 0.669184 38.2449 0.702644 38.2783C0.736104 38.3118 0.736104 38.3453 0.736104 38.4122V43.6989C0.736104 43.7658 0.736104 43.7992 0.702644 43.8327C0.669184 43.8662 0.635724 43.8662 0.568804 43.8662H0.401504C0.334584 43.8996 0.301123 43.8662 0.267663 43.8327Z" fill="#515B61"/>
                        <path d="M2.60987 43.8327C2.57641 43.7993 2.57641 43.7658 2.57641 43.6989V38.4122C2.57641 38.3453 2.57641 38.3118 2.60987 38.2783C2.64333 38.2449 2.67679 38.2114 2.74371 38.2114H2.91101C2.97793 38.2114 3.04485 38.2449 3.07831 38.3118L6.05626 42.8624V38.4122C6.05626 38.3453 6.05626 38.3118 6.08972 38.2783C6.12318 38.2449 6.15664 38.2114 6.22356 38.2114H6.3574C6.42432 38.2114 6.45778 38.2114 6.49124 38.2449C6.5247 38.2783 6.5247 38.3118 6.5247 38.3787V43.6654C6.5247 43.7323 6.5247 43.7658 6.49124 43.7993C6.45778 43.8327 6.42432 43.8662 6.3574 43.8662H6.1901C6.12318 43.8662 6.05626 43.8327 6.0228 43.7658L3.04485 39.2487V43.6989C3.04485 43.7658 3.01139 43.7993 2.97793 43.8327C2.94447 43.8662 2.91101 43.8662 2.84409 43.8662H2.74371C2.67679 43.8996 2.64333 43.8662 2.60987 43.8327Z" fill="#515B61"/>
                        <path d="M9.80377 43.8327C9.77031 43.7993 9.77031 43.7658 9.77031 43.6989V38.7133H8.16423C8.09731 38.7133 8.06385 38.7133 8.03039 38.6799C7.99693 38.6464 7.99693 38.6129 7.99693 38.546V38.4122C7.99693 38.3453 8.03039 38.3118 8.03039 38.2783C8.06385 38.2449 8.09731 38.2114 8.16423 38.2114H11.8448C11.9118 38.2114 11.9452 38.2114 11.9787 38.2449C12.0121 38.2783 12.0121 38.3118 12.0121 38.3787V38.5126C12.0121 38.5795 11.9787 38.6129 11.9452 38.6464C11.9118 38.6799 11.8783 38.6799 11.8114 38.6799H10.2053V43.6654C10.2053 43.7323 10.1718 43.7658 10.1384 43.7993C10.1049 43.8327 10.0715 43.8327 10.0045 43.8327H9.87069C9.87069 43.8996 9.83723 43.8662 9.80377 43.8327Z" fill="#515B61"/>
                        <path d="M13.5179 43.8327C13.4844 43.7993 13.4844 43.7658 13.4844 43.6989V38.4122C13.4844 38.3453 13.4844 38.3118 13.5179 38.2783C13.5513 38.2449 13.5848 38.2114 13.6517 38.2114H16.797C16.8639 38.2114 16.8974 38.2114 16.9308 38.2449C16.9643 38.2783 16.9643 38.3118 16.9643 38.3787V38.5126C16.9643 38.5795 16.9308 38.6129 16.8974 38.6464C16.8639 38.6799 16.8304 38.6799 16.7635 38.6799H13.9529V40.7209H16.5962C16.6631 40.7209 16.6966 40.7544 16.7301 40.7544C16.7635 40.7879 16.7635 40.8213 16.7635 40.8882V41.0221C16.7635 41.089 16.7301 41.1225 16.6966 41.1559C16.6631 41.1894 16.6297 41.1894 16.5628 41.1894H13.9194V43.3308H16.797C16.8639 43.3308 16.8974 43.3308 16.9308 43.3643C16.9643 43.3977 16.9643 43.4312 16.9643 43.4981V43.632C16.9643 43.6989 16.9308 43.7323 16.8974 43.7658C16.8639 43.7993 16.8304 43.7993 16.7635 43.7993H13.5513C13.5848 43.8996 13.5513 43.8662 13.5179 43.8327Z" fill="#515B61"/>
                        <path d="M20.6783 41.0221C21.1467 41.0221 21.4813 40.9217 21.7156 40.7209C21.9498 40.5202 22.0502 40.2525 22.0502 39.851C22.0502 39.4829 21.9498 39.1818 21.7156 38.981C21.4813 38.7802 21.1467 38.6799 20.6783 38.6799H19.1726V40.9886H20.6783V41.0221ZM18.7376 43.8327C18.7041 43.7993 18.7041 43.7658 18.7041 43.6989V38.4122C18.7041 38.3453 18.7041 38.3118 18.7376 38.2783C18.7711 38.2449 18.8045 38.2114 18.8714 38.2114H20.7452C21.314 38.2114 21.7825 38.3453 22.1171 38.6129C22.4517 38.8806 22.619 39.2821 22.619 39.8175C22.619 40.2525 22.5186 40.5871 22.3178 40.8548C22.1171 41.1225 21.8159 41.2898 21.4144 41.3901L22.7194 43.5985C22.7194 43.632 22.7528 43.6654 22.7528 43.6989C22.7528 43.7323 22.7528 43.7658 22.7194 43.7993C22.6859 43.8327 22.6524 43.8327 22.619 43.8327H22.5186C22.4517 43.8327 22.3848 43.7993 22.3513 43.7658C22.3178 43.7323 22.2844 43.6654 22.2175 43.5985L20.946 41.4236H19.273V43.632C19.273 43.6989 19.2395 43.7323 19.206 43.7658C19.1726 43.7993 19.1391 43.7993 19.0722 43.7993H18.9384C18.8045 43.8996 18.7711 43.8662 18.7376 43.8327Z" fill="#515B61"/>
                        <path d="M24.3255 43.8327C24.292 43.7993 24.292 43.7658 24.292 43.6989V38.4122C24.292 38.3453 24.292 38.3118 24.3255 38.2783C24.359 38.2449 24.3924 38.2114 24.4593 38.2114H24.6266C24.6936 38.2114 24.7605 38.2449 24.7939 38.3118L27.7719 42.8624V38.4122C27.7719 38.3453 27.7719 38.3118 27.8054 38.2783C27.8388 38.2449 27.8723 38.2114 27.9392 38.2114H28.1065C28.1734 38.2114 28.2069 38.2114 28.2403 38.2449C28.2738 38.2783 28.2738 38.3118 28.2738 38.3787V43.6654C28.2738 43.7323 28.2738 43.7658 28.2403 43.7993C28.2069 43.8327 28.1734 43.8662 28.1065 43.8662H27.9392C27.8723 43.8662 27.8054 43.8327 27.7719 43.7658L24.7939 39.2487V43.6989C24.7939 43.7658 24.7605 43.7993 24.727 43.8327C24.6936 43.8662 24.6601 43.8662 24.5932 43.8662H24.4593C24.3924 43.8996 24.359 43.8662 24.3255 43.8327Z" fill="#515B61"/>
                        <path d="M33.3597 41.9924L32.1217 38.8137L30.8837 41.9924H33.3597ZM29.746 43.8327C29.7126 43.7993 29.7126 43.7658 29.7126 43.7323V43.632L31.7536 38.3787C31.7871 38.2783 31.8875 38.2114 31.9878 38.2114H32.2555C32.3559 38.2114 32.4563 38.2783 32.4897 38.3787L34.5308 43.632V43.7323C34.5308 43.7658 34.5308 43.7993 34.4974 43.8327C34.4639 43.8662 34.4304 43.8662 34.397 43.8662H34.2297C34.1962 43.8662 34.1293 43.8662 34.0958 43.8327C34.0624 43.7993 34.0624 43.7658 34.0289 43.7658L33.527 42.4609H30.6829L30.181 43.7658C30.181 43.7993 30.1475 43.8327 30.1141 43.8327C30.0806 43.8662 30.0472 43.8662 29.9802 43.8662H29.8129C29.8129 43.8996 29.7795 43.8662 29.746 43.8327Z" fill="#515B61"/>
                        <path d="M37.2076 43.8327C37.1742 43.7993 37.1742 43.7658 37.1742 43.6989V38.7133H35.5681C35.5012 38.7133 35.4677 38.7133 35.4342 38.6799C35.4008 38.6464 35.4008 38.6129 35.4008 38.546V38.4122C35.4008 38.3453 35.4008 38.3118 35.4342 38.2783C35.4677 38.2449 35.5012 38.2114 35.5681 38.2114H39.2487C39.3156 38.2114 39.3491 38.2114 39.3825 38.2449C39.416 38.2783 39.416 38.3118 39.416 38.3787V38.5126C39.416 38.5795 39.3825 38.6129 39.3491 38.6464C39.3156 38.6799 39.2821 38.6799 39.2152 38.6799H37.6091V43.6654C37.6091 43.7323 37.5757 43.7658 37.5422 43.7993C37.5088 43.8327 37.4753 43.8327 37.4084 43.8327H37.2745C37.308 43.8996 37.2411 43.8662 37.2076 43.8327Z" fill="#515B61"/>
                        <path d="M40.9217 43.8327C40.8882 43.7992 40.8882 43.7658 40.8882 43.6989V38.4122C40.8882 38.3453 40.8882 38.3118 40.9217 38.2783C40.9551 38.2449 40.9886 38.2449 41.0555 38.2449H41.2228C41.2897 38.2449 41.3232 38.2449 41.3566 38.2783C41.3901 38.3118 41.3901 38.3453 41.3901 38.4122V43.6989C41.3901 43.7658 41.3901 43.7992 41.3566 43.8327C41.3232 43.8662 41.2897 43.8662 41.2228 43.8662H41.0555C40.9886 43.8996 40.9551 43.8662 40.9217 43.8327Z" fill="#515B61"/>
                        <path d="M46.4091 43.0631C46.7102 42.762 46.8441 42.327 46.8775 41.7247C46.8775 41.3901 46.8775 41.1894 46.8775 41.089C46.8775 40.9886 46.8775 40.7879 46.8775 40.4533C46.8441 39.851 46.7102 39.416 46.4091 39.1149C46.108 38.8137 45.7399 38.6799 45.238 38.6799C44.7695 38.6799 44.368 38.8137 44.1004 39.1149C43.7992 39.416 43.6654 39.851 43.6319 40.4533C43.6319 40.6206 43.6319 40.8213 43.6319 41.089C43.6319 41.3567 43.6319 41.5574 43.6319 41.7247C43.6654 42.327 43.7992 42.762 44.1004 43.0631C44.4015 43.3643 44.7696 43.4981 45.2715 43.4981C45.7399 43.4981 46.1414 43.3308 46.4091 43.0631ZM43.13 41.7582C43.13 41.5909 43.13 41.3567 43.13 41.089C43.13 40.7879 43.13 40.5871 43.13 40.4198C43.1635 39.6837 43.3642 39.1483 43.7323 38.7468C44.1003 38.3787 44.6357 38.178 45.2715 38.178C45.9072 38.178 46.4426 38.3787 46.8106 38.7468C47.1787 39.1149 47.3794 39.6837 47.4129 40.4198C47.4129 40.7544 47.4129 40.9552 47.4129 41.089C47.4129 41.2228 47.4129 41.4571 47.4129 41.7582C47.3794 43.2304 46.6768 44 45.2715 44C43.8661 43.9666 43.1635 43.2304 43.13 41.7582Z" fill="#515B61"/>
                        <path d="M49.1863 43.8327C49.1528 43.7993 49.1528 43.7658 49.1528 43.6989V38.4122C49.1528 38.3453 49.1528 38.3118 49.1863 38.2783C49.2197 38.2449 49.2532 38.2114 49.3201 38.2114H49.4874C49.5543 38.2114 49.6213 38.2449 49.6547 38.3118L52.6327 42.8624V38.4122C52.6327 38.3453 52.6327 38.3118 52.6661 38.2783C52.6996 38.2449 52.733 38.2114 52.8 38.2114H52.9338C53.0007 38.2114 53.0342 38.2114 53.0677 38.2449C53.1011 38.2783 53.1011 38.3118 53.1011 38.3787V43.6654C53.1011 43.7323 53.1011 43.7658 53.0677 43.7993C53.0342 43.8327 53.0007 43.8662 52.9338 43.8662H52.7665C52.6996 43.8662 52.6327 43.8327 52.5992 43.7658L49.6213 39.2152V43.6654C49.6213 43.7323 49.5878 43.7658 49.5543 43.7993C49.5209 43.8327 49.4874 43.8327 49.4205 43.8327H49.2867C49.2532 43.8996 49.2197 43.8662 49.1863 43.8327Z" fill="#515B61"/>
                        <path d="M58.1871 41.9924L56.949 38.8137L55.711 41.9924H58.1871ZM54.5734 43.8327C54.5399 43.7993 54.5399 43.7658 54.5399 43.7323V43.632L56.581 38.3787C56.6144 38.2783 56.7148 38.2114 56.8152 38.2114H57.0829C57.1833 38.2114 57.2837 38.2783 57.3171 38.3787L59.3582 43.632V43.7323C59.3582 43.7658 59.3582 43.7993 59.3247 43.8327C59.2913 43.8662 59.2578 43.8662 59.2243 43.8662H59.057C59.0236 43.8662 58.9567 43.8662 58.9232 43.8327C58.8897 43.7993 58.8897 43.7658 58.8563 43.7658L58.3544 42.4609H55.5437L55.0418 43.7658C55.0418 43.7993 55.0084 43.8327 54.9749 43.8327C54.9414 43.8662 54.908 43.8662 54.8411 43.8662H54.6738C54.6403 43.8996 54.6068 43.8662 54.5734 43.8327Z" fill="#515B61"/>
                        <path d="M60.8304 43.8327C60.797 43.7992 60.797 43.7658 60.797 43.6989V38.4122C60.797 38.3453 60.797 38.3118 60.8304 38.2783C60.8639 38.2449 60.8973 38.2449 60.9643 38.2449H61.1316C61.1985 38.2449 61.2319 38.2449 61.2654 38.2783C61.2989 38.3118 61.2989 38.3453 61.2989 38.4122V43.3977H64.076C64.143 43.3977 64.1764 43.3977 64.2099 43.4312C64.2433 43.4646 64.2433 43.4981 64.2433 43.565V43.6989C64.2433 43.7658 64.2099 43.7992 64.1764 43.8327C64.143 43.8662 64.1095 43.8662 64.0426 43.8662H60.9308C60.8973 43.8996 60.8639 43.8662 60.8304 43.8327Z" fill="#515B61"/>
                    </svg>

                </div></a></li>
        <li>
            <div class="menu-btn">
                <div class="hamburger-menu"> <span> </span><span> </span><span></span></div><span>Menu</span>
            </div>
        </li>
        <li>
            <div class="search-container search-container-p2">
{#                <a class="search-container-label">Let's Talk</a>#}
                {{ pimcore_link('talkLink',{
                    'class' : 'search-container-label'
                }) }}
                <button class="-search-btn-trigger" type="">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12.0586" cy="12.0586" r="7.06194" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.0033 21.0033L17.0516 17.0516" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>

{#                <form action="" >#}
                    <input onkeydown="search()" id="search-input" class="search-input" type="text" placeholder="Search" name="search">
{#                </form>#}

            </div>
        </li>
    </ul>
    <div class="progress-container">
        <div class="progress-bar" id="progressBar"></div>
    </div>
</nav>
<div class="menu fffff">
    <div class="menu_layer ccccc">
        <div class="menu_inner">
            <div class="menu_inner__left">
                <div class="menu-categories-listing">
                    <ul>
                        {% for page in mainNavigation %}

                            {% if page.isVisible() and menuRenderer.accept(page) %}
                                <li class="cat-link" id="{{ page.getLabel()|lower }}CatLink"><span>{{ page.getLabel()|trans }}</span></li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <div class="menu_inner__right">
                <div class="menu-pages-listing">
                    {% for page in mainNavigation %}
                        {% if page.isVisible() and menuRenderer.accept(page) %}
                            {% set hasChildren = page.hasPages() %}
                            {% if hasChildren %}
                                <ul id="{{ page.getLabel()|lower }}LinkWrap">
                                    {% for child in page.getPages() %}
                                        {% if child.isVisible() and menuRenderer.accept(child) %}
                                            <li><a href="{{ child.getHref() }}">{{ child.getLabel()|trans }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function search(){
        var thenEvent = window.event || arguments.callee.caller.arguments[0];
        var key = thenEvent.keyCode;

        if(key == 13){

            window.location.replace("/api/quicksearch?query="+$("#search-input").val()+"&limit=10&page=1");
        }
    }
    var iposPagePath = window.location.pathname.split('/')[1];
    if (iposPagePath == '') {
        $('#academyCatLink').addClass('active');
        $('#academyLinkWrap').addClass('active');
        $('.menu-btn').on('click', function(){
            const menuItemPos  = $('#academyCatLink').position().top - 104;
            $('#academyCatWrap').css('margin-top', menuItemPos);
        })
        $('.menu_inner').css('background-image', 'url("/static/images/academy-bg.png")');
    }
    if (window.location.href.indexOf("academy") > -1) {
        $('#academyCatLink').addClass('active');
        $('#academyLinkWrap').addClass('active');
        $('.menu-btn').on('click', function(){
            const menuItemPos  = $('#academyCatLink').position().top - 104;
            $('#academyCatWrap').css('margin-top', menuItemPos);
        })
        $('.menu_inner').css('background-image', 'url("/static/images/academy-bg.png")');
    }
    if (window.location.href.indexOf("advisory") > -1) {
        $('#advisoryCatLink').addClass('active');
        $('#advisoryLinkWrap').addClass('active');
        $('.menu-btn').on('click', function(){
            const menuItemPos  = $('#advisoryCatLink').position().top - 104;
            $('#advisoryLinkWrap').css('margin-top', menuItemPos);
        })
        $('.menu_inner').css('background-image', 'url("/static/images/advisory-bg.png")');
    }
    if (window.location.href.indexOf("events") > -1) {
        $('#eventsCatLink').addClass('active');
        $('#eventsLinkWrap').addClass('active');
        $('.menu-btn').on('click', function(){
            const menuItemPos  = $('#eventsCatLink').position().top - 104;
            $('#eventsLinkWrap').css('margin-top', menuItemPos);
        })
        $('.menu_inner').css('background-image', 'url("/static/images/events-bg.png")');
    }
    if (window.location.href.indexOf("resources") > -1) {
        $('#resourcesCatLink').addClass('active');
        $('#resourcesLinkWrap').addClass('active');
        $('.menu-btn').on('click', function(){
            const menuItemPos  = $('#resourcesCatLink').position().top - 104;
            $('#resourcesLinkWrap').css('margin-top', menuItemPos);
        })
        $('.menu_inner').css('background-image', 'url("/static/images/resources-bg.png")');
    }
    if (window.location.href.indexOf("about") > -1) {
        $('#aboutCatLink').addClass('active');
        $('#aboutLinkWrap').addClass('active');
        $('.menu-btn').on('click', function(){
            const menuItemPos  = $('#aboutCatLink').position().top - 104;
            $('#aboutLinkWrap').css('margin-top', menuItemPos);
        })
        $('.menu_inner').css('background-image', 'url("/static/images/about-bg.png")');
    }
    $('#newsCatLink').on('click', function() {
        $('.menu-categories-listing ul li').removeClass('active');
        $(this).addClass('active');
        $('.menu-pages-listing ul').removeClass('active');
        $('#newsLinkWrap').addClass('active');
        var menuItemPos = $(this).position().top - 104;

        if ($(window).width() > 768) {
            $('#newsLinkWrap').css('margin-top', menuItemPos);
        } //bg 
    })



</script>
