<h5 class="pb-2">{{ 'portal-engine.data-pool.navigation-settings'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</h5>
<div>
    {{ pimcore_checkbox(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\DataPoolConfig::ENABLE_FOLDER_NAVIGATION'), {label:'portal-engine.data-pool.enable-folder-navigation'|trans([], 'admin', portalEngine_editmode_admin_language())}) }}
</div>
<div>
    {{ pimcore_checkbox(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\DataPoolConfig::ENABLE_TAG_NAVIGATION'), {label:'portal-engine.data-pool.enable-tag-navigation'|trans([], 'admin', portalEngine_editmode_admin_language()), reload:true}) }}
</div>

{% if not pimcore_checkbox(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\DataPoolConfig::ENABLE_TAG_NAVIGATION')).empty %}
<label
    class="form-control-label">{{ 'portal-engine.data-pool.root-tag'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</label>
<div>
    {{ pimcore_select(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\DataPoolConfig::ROOT_TAG'), {width:800, store: tagSelectStore}) }}
</div>
{% endif %}