<div class="card">
    <h3 class="card-header mb-0">
        <span class="card-header__btn d-block">{{ 'portal-engine.data-pool.languages-configuration'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</span>
    </h3>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label
                        class="form-control-label">{{ 'portal-engine.data-pool.visible-languages'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</label>
                    <div>
                        {{ pimcore_multiselect(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\DataPoolConfig::VISIBLE_LANGUAGES'), {width:300, height: 250, store: languagesStore}) }}
                    </div>
                </div>
            </div>

            {% if showEditableLanguages is defined and showEditableLanguages %}
                <div class="col-sm-6">
                    <div class="form-group">
                        <label
                            class="form-control-label">{{ 'portal-engine.data-pool.editable-languages'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</label>
                        <div>
                            {{ pimcore_multiselect(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\DataPoolConfig::EDITABLE_LANGUAGES'), {width:300, height: 250, store: languagesStore}) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
</div>