{% extends template_layout_name %}

{% block content %}
<style>
.hidden{
		display: none;
	}
	.show{
		display: block;
	}
</style>
    <section class="bg-bigcircle">
    
        <div class="bg_circle_left"></div>
        <div class="bg_rectangle_left"><img src="/static/images/enterprise_left.58e9531.svg" alt=""></div>
        <div class="bg_rectangle_right"><img src="/static/images/enterprise_right.e8293ab.svg" alt=""></div>
        <div class="bg_circle_right"><img src="/static/images/credential_right.a13c81c.svg" alt=""></div>
        <div class="container">
            <div class="breadcrumb m-b-80 m-t-40 temporary">
                {% include('layouts/breadcrumb.html.twig') %}
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-left">
                        <h1 class="h1 m-b-80">{{ pimcore_input('HeadLine',{'placeholder' : 'headlines...'}) }}</h1>
                        <div class="m-b-45">
                            <p class="mini-label m-b-15" style="font-size: 15px">{{ pimcore_input('title',{'placeholder' :'title...'}) }}</p>
                            <p class="txt-large m-b-15">
                            <section id="marked-content" style="font-size: 20px">
                                {{  pimcore_wysiwyg("specialContent", {
                                    "height": 200,
                                    "placeholder" : "edit content..."
                                })
                                }}
                            </section>
                            <div id="googleMap" style="height: 200px; width: 400px; margin-top: 20px"></div>
                            </p>
                        </div>
                        <div class="m-b-45">
                            <p class="mini-label m-b-15" style="font-size: 15px">{{ pimcore_input('title2',{'placeholder' : 'title...'}) }}</p>
                            <p class="txt-large m-b-30">{{ pimcore_link('telLink') }}</p>
                           

                             <p class="txt-large" style="font-size: 20px">
                                {{ pimcore_input('mailtoLinktitle',{'placeholder' : 'email title..'}) }}
                            </p>
                            <p class="txt-large m-b-30" style="font-size: 20px">
                                {{ pimcore_link('mailtoLink') }}
                            </p>

                            <p class="txt-large" style="font-size: 20px">
                                {{ pimcore_input('mailtoLink2title',{'placeholder' : 'email title..'}) }}
                            </p>
                            <p class="txt-large m-b-30" style="font-size: 20px">
                                {{ pimcore_link('mailtoLink2') }}
                            </p>
                            </p>
 
                            <p class="txt-large" style="font-size: 20px">
                                {{ pimcore_input('mailtoLink3title',{'placeholder' : 'email title..'}) }}
                            </p>
                            <p class="txt-large m-b-30" style="font-size: 20px">
                                {{ pimcore_link('mailtoLink3') }}
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-right">
                        <div class="form-cont">
                            <div class="form-cont__head">
                                <div>
                                    <h6 class="h6 xsssss about-c" >Have any questions?</h6>
                                    <p class="drop-note">Drop us a message below and we will get back to you soon.</p>
                                </div>
                            </div>
                            <div class="form-cont__body"> 
                                <form class="contact-form ipos-form row g-3 needs-validation" id="my_captcha_form" novalidate=""  data-action="/api/contact">
                                    <div class="col-md-12 column">
                                        <div class="form-input-label form-input-label__select">
                                            <input value="9847h3hchc65rdytegbhcjcccc21" name="csrf_token" class="form-control validity contact-b "  type="hidden" required="">

                                            <label class="form-label float-top" for="contactSubject">Nature of enquiry</label>
    
                                            <select name="state" class="form-select form-control validity passport" id="contactSubject">
                                                <option value="" disabled selected>Please choose an option</option>
                                                {% for state in states %}
                                            		<option value="{{ state['key'] }}">{{ state['value'] }}</option>
                                        	    {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    



                                    <div class="col-md-6 column">
                                        <div class="form-input-label">
                                            <label class="form-label" for="contactFirstName">First Name</label>
                                            <input name="firstName" class="form-control validity" id="contactFirstName" type="text" value="" required="">
                                            <div class="invalid-feedback">Please fill in this field.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 column">
                                        <div class="form-input-label">
                                            <label class="form-label" for="contactLastName">Last Name</label>
                                            <input name="lastName" class="form-control validity" id="contactLastName" type="text" value="" required="">
                                            <div class="invalid-feedback">Please fill in this field.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 column">
                                        <div class="form-input-label">
                                            <label class="form-label" for="contactEmail">Business email</label>
                                            <input name="email" class="form-control validity" id="contactEmail" type="email" value="" required="">
                                            <div class="invalid-feedback">Please provide a valid Email.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 column">
                                        <div class="form-input-label">
                                            <label class="form-label" for="contactPhoneNumber">Phone Number</label>
                                            <input name="phone" class="form-control validity" id="contactPhoneNumber" type="number" value="" required="">
                                            <div class="invalid-feedback">Please fill in this field.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 column">
                                        <div class="form-input-label">
                                            <label class="form-label" for="contactCompany">Company</label>
                                            <input name="company" class="form-control validity" id="contactCompany" type="text" value="" required="">
                                            <div class="invalid-feedback">Please fill in this field.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 column">
                                        <div class="form-input-label">
                                            <label class="form-label" for="contactDesignation">Designation</label>
                                            <input name="designation" class="form-control validity" id="contactDesignation" type="text" value="" required="">
                                            <div class="invalid-feedback">Please fill in this field.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 column " id="industry">
                                        <div class="form-input-label form-input-label__select">
                                            <label class="form-label float-top" for="industryOption" id="industryOptionLabel">Industry</label>
                                            <select name="industry" class="form-select form-control validity" id="industryOption">
                                                <option value="" disabled selected>Please choose an option</option>
                                                <option value="Manufacturing – Precision Engineering">Manufacturing – Precision Engineering</option>
                                                <option value="Manufacturing – Energy and Chemicals">Manufacturing – Energy and Chemicals</option>
                                                <option value="Manufacturing – Marine and Offshore">Manufacturing – Marine and Offshore</option>
                                                <option value="Manufacturing – Aerospace">Manufacturing – Aerospace</option>
                                                <option value="Manufacturing – Electronics">Manufacturing – Electronics</option>
                                                <option value="Built Environment – Construction">Built Environment – Construction</option>
                                                <option value="Built Environment – Real Estate">Built Environment – Real Estate</option>
                                                <option value="Built Environment – Security">Built Environment – Security</option>
                                                <option value="Built Environment – Environmental Services">Built Environment – Environmental Services</option>
                                                <option value="Trade and Connectivity – Air Transport">Trade and Connectivity – Air Transport</option>
                                                <option value="Trade and Connectivity – Land Transport">Trade and Connectivity – Land Transport</option>
                                                <option value="Trade and Connectivity – Logistics">Trade and Connectivity – Logistics</option>
                                                <option value="Trade and Connectivity – Sea Transport">Trade and Connectivity – Sea Transport</option>
                                                <option value="Trade and Connectivity – Wholesale Trade">Trade and Connectivity – Wholesale Trade</option>
                                                <option value="Essential Domestic Services – Healthcare Tech">Essential Domestic Services – Healthcare Tech (E.g. BioTech, MedTech, Pharma, etc)</option>
                                                <option value="Essential Domestic Services – Healthcare Services">Essential Domestic Services – Healthcare Services</option>
                                                <option value="Essential Domestic Services – Education">Essential Domestic Services – Education</option>
                                                <option value="Modern Services – Professional Services">Modern Services – Professional Services</option>
                                                <option value="Modern Services – Financial Services">Modern Services – Financial Services</option>
                                                <option value="Modern Services – ICT and Media">Modern Services – ICT and Media</option>
                                                <option value="Lifestyle – Food Manufacturing">Lifestyle – Food Manufacturing (E.g. Agri-tech)</option>
                                                <option value="Lifestyle – Food Services">Lifestyle – Food Services</option>
                                                <option value="Lifestyle – Hotel">Lifestyle – Hotel</option>
                                                <option value="Lifestyle – Retail">Lifestyle – Retail</option>
                                                <option value="Public Agency/Stat Board">Public Agency/Stat Board</option>
                                                <option value="Non Profit Organisation">Non Profit Organisation</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 column hidden" id="industryOther">
                                        <div class="form-input-label">
                                            <label class="form-label" for="contactMessage">Others</label>
                                            <textarea name="industryOther" class="form-control" id="industryOptionOthers" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 column">
                                        <div class="form-input-label">
                                            <label class="form-label" for="contactMessage">Message</label>
                                            <textarea name="message" class="form-control validity" id="contactMessage" rows="3" required=""></textarea>
                                            <div class="invalid-feedback">Please fill in this field.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 column">
                                        <p class="mini-label" style="font-size: 14px; margin-left: 5px">
                                        Company Overview
                                        </p>
                                    </div>
                                    <div class="col-md-12 column" style="margin-top: 10px">
                                        <div class="form-input-label">
                                            {# <label class="form-label" for="contactCompanyOverview"></label> #}
                                            <textarea placeholder="Please share details about your company's background, industry, and core activities" name="companyOverview" class="form-control validity" id="contactCompanyOverview" rows="3"></textarea>
                                            <div class="invalid-feedback">Please fill in this field.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 column">
                                        <p class="mini-label" style="font-size: 14px; margin-left: 5px">
                                        Existing IP Portfolio
                                        </p>
                                    </div>
                                    <div class="col-md-12 column" style="margin-top: 10px">
                                        <div class="form-input-label">
                                            <textarea placeholder="If your company already has an intellectual property portfolio, kindly provide some information about it, such as the types of intellectual property you currently hold." name="existingIP" class="form-control validity" id="contactExistingIP" rows="3"></textarea>
                                            <div class="invalid-feedback">Please fill in this field.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 column">
                                        <p class="mini-label" style="font-size: 14px; margin-left: 5px">
                                        Overseas Expansion
                                        </p>
                                    </div>
                                    <div class="col-md-12 column" style="margin-top: 10px">
                                        <div class="form-input-label">
                                            <textarea name="overseasExpansion" placeholder="If you have any plans or interests in expanding your business overseas, please let us know. This information can help tailor our discussion to your global IP needs" class="form-control validity" id="contactOverseasExpansion" rows="3" required=""></textarea>
                                            <div class="invalid-feedback">Please fill in this field.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 column">
                                        <p class="mini-label" style="font-size: 14px; margin-left: 5px">
                                        Proprietary Technology
                                        </p>
                                    </div>
                                    <div class="col-md-12 column" style="margin-top: 10px">
                                        <div class="form-input-label">
                                            <textarea placeholder="If your company possesses proprietary technology or innovations, it would be valuable to understand more about these assets." name="proprietaryTechnology" class="form-control validity" id="contactProprietaryTechnology" rows="3" required=""></textarea>
                                            <div class="invalid-feedback">Please fill in this field.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 column" style="margin-top: 10px">
                                        <p class="mini-label"  style="
                                            font-size: 14px;
                                            margin-left: 5px;
                                            margin-bottom: 25px;"
                                        >
                                            Your insights on these points will enable us to have a more focused and meaningful conversation about how our IP expertise can align with your specific requirements. 
                                        </p>
                                    </div>


                                    <div class="col-md-12 column " id="infoSource">
                                        <div class="form-input-label form-input-label__select">
                                            <label class="form-label float-top" for="contactSource" id="contactSourceLabel">How did you find out about our IA Chat session?</label>
                                            <select name="infoSource" class="form-select form-control validity" id="contactSource">
                                                <option value="" disabled selected>Please choose an option</option>
                                                <option value="Emails/EDMS">Emails/EDMS</option>
                                                <option value="Facebook">Facebook</option>
                                                <option value="Google">Google</option>
                                                <option value="LinkedIn">LinkedIn</option>
                                                <option value="IPOS International Website">IPOS International Website</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 column hidden" id="infoSourceOthers">
                                        <div class="form-input-label">
                                            <label class="form-label" for="contactMessage">Others</label>
                                            <textarea name="infoSourceOthers" class="form-control" id="contactSourceOthers" rows="3"></textarea>
                                        </div>
                                    </div>
                                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp6kt0PXm7airQ4WjQfFdpLsjrqSRkuH8&callback=initMap" async defer></script>
                                        <script>
                                            function initMap() {
                                                var map = new google.maps.Map(document.getElementById('googleMap'), {
                                                    center: { lat: -34.397, lng: 150.644 }, // Default location if geocoding fails
                                                    zoom: 18
                                                });

                                                // Geocoding service
                                                var geocoder = new google.maps.Geocoder();

                                                // Replace 'Your Location Name' with the location you want to search
                                                var locationName = 'IPOS International, Singapore';
                                                // Geocode the location name to get the coordinates
                                                geocoder.geocode({ 'address': locationName }, function(results, status) {
                                                    if (status === 'OK') {
                                                        // Center the map on the location
                                                        map.setCenter(results[0].geometry.location);

                                                        // Add a marker at the geocoded location
                                                        var marker = new google.maps.Marker({
                                                            map: map,
                                                            position: results[0].geometry.location,
                                                            title: locationName // Tooltip text when hovering over the marker
                                                        });
                                                    } else {
                                                        alert('Geocode was not successful for the following reason: ' + status);
                                                    }
                                                });
                                            }
                                        </script>
                                        <script>
                                        $("#contactSubject").change(function(){
                                            var response = $(this).val();
                                            if(response.toLowerCase() == "general enquiry"){
                                                $("#contactSourceLabel").html("How did you find out about IPOS International?");
                                            }
                                            else if(response.toLowerCase() == "business enquiry"){
                                                $("#contactSourceLabel").html("How did you find out about IPOS International?");
                                            }
                                            else if(response.toLowerCase() == "academy programme"){
                                                $("#contactSourceLabel").html("How did you find out about our Academy programmes?");
                                            }
                                            else if(response.toLowerCase() == "ia chat/ip ready chat session"){
                                                $("#contactSourceLabel").html("How did you find out about our IA Chat session?");
                                            }
                                        });
                                        $("#contactSource").change(function(){
                                            var response = $(this).val();
                                            if(response == "Others"){
                                                $("#infoSourceOthers").removeClass("hidden");
                                                $("#infoSourceOthers").addClass("show");
                                            }
                                            else{
                                                $("#contactSourceOthers").val("");
                                                $("#infoSourceOthers").addClass("hidden");
                                                $("#infoSourceOthers").removeClass("show");
                                            }
                                        });

                                        $("#industryOption").change(function(){
                                            var response = $(this).val();
                                            if(response == "Others"){
                                                $("#industryOptionOthers").removeClass("hidden");
                                                $("#industryOptionOthers").addClass("show");
                                            }
                                            else{
                                                $("#contactSourceOthers").val("");
                                                $("#industryOptionOthers").addClass("hidden");
                                                $("#industryOptionOthers").removeClass("show");
                                            }
                                        });
                                        </script>

                                        
					<div class="col-md-12 column">
					 <div class="form-check">
						<input class="form-check-input validity" id="TNC" name="tnc" type="checkbox" value="" required="">
                        			<label class="form-label mt-0" for="TNC">By submitting this form, I agree to <a class="contact-tnc-email" href="https://iposinternational.com/en/website%20policies/terms-of-use">IPOS International’s Terms of Service.</a></label>
                        			<div class="invalid-feedback">Please agree before send.</div>
                      			</div>
					</div>

<div class="col-md-12 column">
                      <div class="form-check">
                        <input class="form-check-input validity" id="subsEmail" name="subsemail" type="checkbox" value="">
                        <label class="form-label mt-0" for="subsEmail">
                        By ticking this box, I agree and consent to receive email updates on programmes, events, resources and news from IPOS International. I understand that I can change my mind at any time and unsubscribe from IPOS International marketing emails by clicking the “unsubscribe” link located at the bottom of every marketing email or by emailing&nbsp;<a class="contact-tnc-email" href="mailto:enquiry@iposinternational.com">enquiry@iposinternational.com</a>.
                        Please refer to our <a class="contact-tnc-email" href="https://iposinternational.com/en/website%20policies/data-protection-policy">Data Protection Policy For more information</a>
						</label>
						<div class="invalid-feedback">Please agree before send.</div>
                      </div>
                    </div>

                                    <div class="col-md-12 column">
                                        <div class="form-input-label">
                                            <div class="g-recaptcha" data-sitekey="6Lel4Z4UAAAAAOa8LO1Q9mqKRUiMYl_00o5mXJrR"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 column">
                                        <div class="line"></div>
                                        <button class="btn full-orange float-end m-t-20" id="submitContact" type="submit">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="thankyou-modal">
        <div class="btn-close -close-tq-modal"></div>
        <div class="thankyou-modal__wrap">
            <img class="m-b-20" src="/static/images/mail-fly.3358c4b.png" alt="">
            <p class="txt-regular m-b-25">Thank you for your message. It has been sent. We will get back to you soon.</p>
            <div class="btn btn__hollow -close-tq-modal closeBrowsing">Continue Browsing</div>
        </div>
    </div>
    
     <script>
     $(document).ready(function() {
        $('#TNC').change(function () {
            if ($('#TNC').is(':checked')) {
                $('#TNC').val('1');
            } else {
                $('#TNC').val('');
            }
        })

        $('#subsEmail').change(function () {
            if ($('#subsEmail').is(':checked')) {
                $('#subsEmail').val('1');
            } else {
                $('#subsEmail').val('');
            }
        })

        $('.closeBrowsing').click(function () {
            location.reload();
        });
        
        $('#my_captcha_form').on('submit', function(event) {
            var isValid = true;
            $('.validity').each(function (e) {
                var input = $(this);
                console.log('Name : '+input.attr('name')+' | Value : '+input.val());
                if (input.val() === '') {
                    isValid = false;
                }
            });
            if (isValid) {
                $('#submitContact').attr('disabled', true);
                $('#submitContact').text('Loading...');
                var hasClass = $('.thankyou-modal').hasClass('active');
                if (hasClass) {
                    $('#submitContact').attr('disabled', false);
                    $('#submitContact').text('Send');
                }
            }
        });
    });
        
    </script>
    {#<div class="ipos-modal modal fade" id="subscribeNesletterModal" tabindex="-1" aria-hidden="true">
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="h5">Subscribe to Newsletter and Business Guides</h5>
                    <p>Get the latest IA/IP news, insights and guides delivered to your inbox monthly.</p>
                </div>
                <div class="modal-body">
                    <form class="ipos-form row g-3 needs-validation" id="my_captcha_form" novalidate="">
                        <div class="col-md-6 column">
                            <div class="form-input-label">
                                <label class="form-label" for="subFirstName">First Name</label>
                                <input class="form-control" id="subFirstName" type="text" value="" required="">
                                <div class="invalid-feedback">Please fill in this field.</div>
                            </div>
                        </div>
                        <div class="col-md-6 column">
                            <div class="form-input-label">
                                <label class="form-label" for="subLastName">Last Name</label>
                                <input class="form-control" id="subLastName" type="text" value="" required="">
                                <div class="invalid-feedback">Please fill in this field.</div>
                            </div>
                        </div>
                        <div class="col-md-12 column">
                            <div class="form-input-label">
                                <label class="form-label" for="subCompany">Company</label>
                                <input class="form-control" id="subCompany" type="text" value="" required="">
                                <div class="invalid-feedback">Please fill in this field.</div>
                            </div>
                        </div>
                        <div class="col-md-12 column">
                            <div class="form-input-label">
                                <label class="form-label" for="subDesignation">Designation</label>
                                <input class="form-control" id="subDesignation" type="text" value="" required="">
                                <div class="invalid-feedback">Please fill in this field.</div>
                            </div>
                        </div>
                        <div class="col-md-12 column">
                            <div class="form-input-label">
                                <label class="form-label" for="subPhoneNumber">Phone Number</label>
                                <input class="form-control" id="subPhoneNumber" type="number" value="" required="">
                                <div class="invalid-feedback">Please fill in this field.</div>
                            </div>
                        </div>
                        <div class="col-md-12 column">
                            <div class="form-input-label">
                                <label class="form-label" for="subEmail">Email</label>
                                <input class="form-control" id="subEmail" type="email" value="" required="">
                                <div class="invalid-feedback">Please provide a valid Email.</div>
                            </div>
                        </div>
                        <div class="col-md-12 column">
                            <div class="form-input-label">
                                <label class="form-label" for="subMessage">Message</label>
                                <textarea class="form-control" id="subMessage" rows="3" required=""></textarea>
                                <div class="invalid-feedback">Please fill in this field.</div>
                            </div>
                        </div>
                        <div class="col-md-12 column">
                            <div class="form-input-label">
                                <div class="g-recaptcha" data-sitekey="6Lel4Z4UAAAAAOa8LO1Q9mqKRUiMYl_00o5mXJrR"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="line"></div>
                            <button class="btn full-orange w-100 m-t-20" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>#}

{% endblock %}
