{% extends template_layout_name %}

{% block content %}
	<section class="academy_overview__page">
		<section class="about">
			<div class="about_bg_circle"></div>
			<div class="about_bg_ipos"><img src="/static/images/IPOS.d59bcba.svg" alt=""></div>
			<div class="container about_content">
				<div class="breadcrumb m-b-80">
					{% include('layouts/breadcrumb.html.twig') %}
				</div>
				{{ pimcore_areablock("Headline", {
                    "allowed": [
                        "academy-headlines"
                    ]
                }) }}
			</div>
		</section>
		{{ pimcore_areablock("HeadContents", {
            "allowed": [
                "academy-credential",
                "academy-partners"

            ]
        }) }}

		<section class="courses_indemand">
			<div class="courses_bg_right"><img src="/static/images/courses_right.0c9f1fc.svg" alt=""></div>
			<div class="container">
				<h2>{{ pimcore_input('eventTitle',{'placeholder':'Upcoming Courses'}) }}</h2>
				<div class="courses_indemand_content">
					{% if editmode %}
						<div class="courses_tab_content">
							<div class="courses_tab_content_item active" id="ipProfesionals">
								<div class="row">
									{{ pimcore_relations('ipProfesionals',{
                                        "title" : "IP Professionals",
                                        "types": ["object"],
                                        "classes" : [
                                            "Course"
                                        ]
                                    }) }}
								</div>
								<div class="view_all">
									{{ pimcore_link('article',{
                                        'class' : 'view_all_content',
                                        'textSuffix' : '<img src="/static/images/arrow-right.422b4d8.svg" alt="">'
                                    }) }}
								</div>
							</div>
							<div class="courses_tab_content_item active" id="publicAgencies">

								<div class="row">
									{{ pimcore_relations('publicAgencies',{
                                        "title" : "Public Agencies / Officers",
                                        "types": ["object"],
                                        "classes" : [
                                            "Course"
                                        ]
                                    }) }}
								</div>

								<div class="view_all">
									{{ pimcore_link('officers',{
                                        'class' : 'view_all_content',
                                        'textSuffix' : '<img src="/static/images/arrow-right.422b4d8.svg" alt="">'
                                    }) }}
								</div>
							</div>
							<div class="courses_tab_content_item active" id="enterprises">
								<div class="row">
									{{ pimcore_relations('enterpris',{
                                        "title" : "Enterprises / Individuals",
                                        "types": ["object"],
                                        "classes" : [
                                            "Course"
                                        ]
                                    }) }}
								</div>

								<div class="view_all">
									{{ pimcore_link('enterprises',{
                                        'class' : 'view_all_content',
                                        'textSuffix' : '<img src="/static/images/arrow-right.422b4d8.svg" alt="">'
                                    }) }}
								</div>
							</div>
							<div class="courses_tab_content_item active" id="graduate">

								<div class="row">
									{{ pimcore_relations('graduate',{
                                        "title" : "Graduate Studies",
                                        "types": ["object"],
                                        "classes" : [
                                            "Course"
                                        ]
                                    }) }}
								</div>

								<div class="view_all">
									{{ pimcore_link('studies',{
                                        'class' : 'view_all_content',
                                        'textSuffix' : '<img src="/static/images/arrow-right.422b4d8.svg" alt="">'
                                    }) }}
								</div>
							</div>
						</div>
					{% else %}
						<ul class="courses_tab">
							<li class="tab_item active" id="ipProfesionals-tab" data-tab="ipProfesionals">IP Professionals</li>
							<li class="tab_item" id="agencies-tab" data-tab="publicAgencies">Public Agencies / Officers</li>
							<li class="tab_item" id="enterprise-tab" data-tab="enterprises">Enterprises / Individuals</li>
							<li class="tab_item" id="graduate-tab" data-tab="graduate">Graduate Studies</li>
						</ul>
						<div class="courses_tab_content">
							<div class="courses_tab_content_item active" id="ipProfesionals">
								<div class="row">
									{% if pimcore_relations('ipProfesionals') %}
										{% set ipProfesionalsList = pimcore_relations('ipProfesionals') %}
										{% for key, professionals in ipProfesionalsList %}
											{% if key < 3 %}
												<div class="col-lg-4 col-md-6">
													<div class="courses_tab_content_item_card">
														<div class="card_image">
															<a href="{{ professionals }}_{{ professionals.getId() }}">
																{% if professionals.coverImage is not empty %}
																	{{ professionals.coverImage.thumbnail('coverImg').html({imgAttributes : {class : 'cover'}}) | raw }}

																{% endif %}
															</a>
														</div>
														<div class="card_content">
															<div class="card_content_top">
																<a href="{{ professionals }}_{{ professionals.getId() }}">{{ professionals.title }}</a>
															</div>
															<div class="card_content_bottom">
																{% if professionals.getPlaning() is not empty %}
																	{% for courseDate in professionals.getPlaning() %}
																		{% if courseDate.startDate != '' %}
																			<div class="place">
																				<img class="icon" src="/static/images/place.21274f4.svg" alt="">
																				<div class="date">
																					{% if courseDate.lastDate != '' %}
																						{% if courseDate.startDate | date('M') == courseDate.lastDate | date('M') %}
																							{{ courseDate.startDate | date('d')}}
																							-
																							{{ courseDate.lastDate | date('d M Y') }}
																						{% else %}
																							{{ courseDate.startDate | date('d M Y')}}
																							-
																							{{ courseDate.lastDate | date('d M Y') }}
																						{% endif %}
																					{% else %}
																						{{ courseDate.startDate | date('d M Y')}}
																					{% endif %}
																				</div>
																				{% if courseDate.getTeachingArrangement() is not empty %}
																					{% for interestItem in courseDate.getTeachingArrangement() %}
																						{% if interestItem.startTime.getData() is not empty %}
																							<div class="text">
                                                                                                {% if interestItem.venue.getData() is defined and interestItem.venue.getData() != "" %} {{ interestItem.venue.getData()  }} {% endif %} {% if interestItem.venueText.getData() is defined and interestItem.venueText.getData() != "" %} -  {{ interestItem.venueText.getData()  }} {% endif %}
																							</div>
																						{% endif %}
																					{% endfor %}
																				{% endif %}
																			</div>
																		{% else %}
																			<div class="place">
																				<div class="text">TBC</div>
																			</div>
																		{% endif %}
																	{% endfor %}
																{% else %}
																	<div class="place">
																		<div class="text">TBC</div>
																	</div>
																{% endif %}
															</div>
														</div>
													</div>
												</div>
											{% endif %}
										{% endfor %}
									{% endif %}
								</div>
								<div class="view_all">
									{{ pimcore_link('article',{
                                        'class' : 'view_all_content',
                                        'textSuffix' : '<img src="/static/images/arrow-right.422b4d8.svg" alt="">'
                                    }) }}
								</div>
							</div>
							<div class="courses_tab_content_item" id="publicAgencies">
								<div class="row">
									{% if pimcore_relations('publicAgencies') %}
										{% set list = pimcore_relations('publicAgencies') %}
										{% for key, officers in list %}
											{% if key < 3  %}
												<div class="col-lg-4 col-md-6">
													<div class="courses_tab_content_item_card">
														<div class="card_image">
															<a href="{{ officers }}_{{ officers.getId() }}">
																{% if officers.coverImage is not empty %}
																	{{ officers.coverImage.thumbnail('coverImg').html({imgAttributes : {class : 'cover'}}) | raw }}
																{% endif %}
															</a>
														</div>
														<div class="card_content">
															<div class="card_content_top">
																<a href="{{ officers }}_{{ officers.getId() }}">{{ officers.title }}</a>
															</div>
															<div class="card_content_bottom">
																{% if officers.getPlaning() is not empty %}
																	{% for courseDate in officers.getPlaning() %}
																		{% if courseDate.startDate != '' %}
																			<div class="place">
																				<img class="icon" src="/static/images/place.21274f4.svg" alt="">
																				<div class="date">
																					{% if courseDate.lastDate != '' %}
																						{% if courseDate.startDate | date('M') == courseDate.lastDate | date('M') %}
																							{{ courseDate.startDate | date('d')}}
																							-
																							{{ courseDate.lastDate | date('d M Y') }}
																						{% else %}
																							{{ courseDate.startDate | date('d M Y')}}
																							-
																							{{ courseDate.lastDate | date('d M Y') }}
																						{% endif %}
																					{% else %}
																						{{ courseDate.startDate | date('d M Y')}}
																					{% endif %}
																				</div>
																				
                                                                                {% if courseDate.getTeachingArrangement() is not empty %}
																					{% for interestItem in courseDate.getTeachingArrangement() %}
																						{% if interestItem.startTime.getData() is not empty %}
																							<div class="text">
                                                                                                {% if interestItem.venue.getData() is defined and interestItem.venue.getData() != "" %} {{ interestItem.venue.getData()  }} {% endif %} {% if interestItem.venueText.getData() is defined and interestItem.venueText.getData() != "" %} -  {{ interestItem.venueText.getData()  }} {% endif %}
																							</div>
																						{% endif %}
																					{% endfor %}
																				{% endif %}
																			</div>
																		{% else %}
																			<div class="place">
																				<div class="text">TBC</div>
																			</div>
																		{% endif %}
																	{% endfor %}
																{% else %}
																	<div class="place">
																		<div class="text">TBC</div>
																	</div>
																{% endif %}
															</div>
														</div>
													</div>
												</div>
											{% endif %}


										{% endfor %}
									{% endif %}


								</div>
								<div class="view_all">
									{{ pimcore_link('officers',{
                                        'class' : 'view_all_content',
                                        'textSuffix' : '<img src="/static/images/arrow-right.422b4d8.svg" alt="">'
                                    }) }}
								</div>
							</div>
							<div class="courses_tab_content_item" id="enterprises">
								<div class="row">
									{% if pimcore_relations('enterpris') %}
										{% set list = pimcore_relations('enterpris') %}
										{% for key, officers in list %}
											{% if key < 3 %}
												<div class="col-lg-4 col-md-6">
													<div class="courses_tab_content_item_card">
														<div class="card_image">
															<a href="{{ officers }}_{{ officers.getId() }}">
																{% if officers.coverImage is not empty %}
																	{{ officers.coverImage.thumbnail('coverImg').html({imgAttributes : {class : 'cover'}}) | raw }}
																{% endif %}
															</a>
														</div>
														<div class="card_content">
															<div class="card_content_top">
																<a href="{{ officers }}_{{ officers.getId() }}">{{ officers.title }}</a>
															</div>
															<div class="card_content_bottom">
																{% if officers.getPlaning() is not empty %}
																	{% for courseDate in officers.getPlaning() %}
																		{% if courseDate.startDate != '' %}
																			<div class="place">
																				<img class="icon" src="/static/images/place.21274f4.svg" alt="">
																				<div class="date">
																					{% if courseDate.lastDate != '' %}
																						{% if courseDate.startDate | date('M') == courseDate.lastDate | date('M') %}
																							{{ courseDate.startDate | date('d')}}
																							-
																							{{ courseDate.lastDate | date('d M Y') }}
																						{% else %}
																							{{ courseDate.startDate | date('d M Y')}}
																							-
																							{{ courseDate.lastDate | date('d M Y') }}
																						{% endif %}
																					{% else %}
																						{{ courseDate.startDate | date('d M Y')}}
																					{% endif %}
																				</div>
                                                                                {% if courseDate.getTeachingArrangement() is not empty %}
																					{% for interestItem in courseDate.getTeachingArrangement() %}
																						{% if interestItem.startTime.getData() is not empty %}
																							<div class="text">
                                                                                                {% if interestItem.venue.getData() is defined and interestItem.venue.getData() != "" %} {{ interestItem.venue.getData()  }} {% endif %} {% if interestItem.venueText.getData() is defined and interestItem.venueText.getData() != "" %} -  {{ interestItem.venueText.getData()  }} {% endif %}
																							</div>
																						{% endif %}
																					{% endfor %}
																				{% endif %}
																			</div>
																		{% else %}
																			<div class="place">
																				<div class="text">TBC</div>
																			</div>
																		{% endif %}
																	{% endfor %}
																{% else %}
																	<div class="place">
																		<div class="text">TBC</div>
																	</div>
																{% endif %}
															</div>
														</div>
													</div>
												</div>
											{% endif %}


										{% endfor %}
									{% endif %}


								</div>
								<div class="view_all">
									{{ pimcore_link('enterprises',{
                                        'class' : 'view_all_content',
                                        'textSuffix' : '<img src="/static/images/arrow-right.422b4d8.svg" alt="">'
                                    }) }}
								</div>
							</div>
							<div class="courses_tab_content_item" id="graduate">

								<div class="row">
									{% if pimcore_relations('graduate') %}
										{% set list =  pimcore_relations('graduate')  %}
										{% for key, studies in list %}
											{% if key < 3 %}
												<div class="col-lg-4 col-md-6">
													<div class="courses_tab_content_item_card">
														<div class="card_image">
															<a href="{{ studies }}_{{ studies.getId() }}">
																{% if studies.coverImage is not empty %}
																	{{ studies.coverImage.thumbnail('coverImg').html({imgAttributes : {class : 'cover'}}) | raw }}
																{% endif %}
															</a>

														</div>
														<div class="card_content">
															<div class="card_content_top">
																<a href="{{ studies }}_{{ studies.getId() }}">{{ studies.title }}</a>
															</div>
															<div class="card_content_bottom">
																{% if studies.getPlaning() is not empty %}
																	{% for courseDate in studies.getPlaning() %}
																		{% if courseDate.startDate != '' %}
																			<div class="place">
																				<img class="icon" src="/static/images/place.21274f4.svg" alt="">
																				<div class="date">
																					{% if courseDate.lastDate != '' %}
																						{% if courseDate.startDate | date('M') == courseDate.lastDate | date('M') %}
																							{{ courseDate.startDate | date('d')}}
																							-
																							{{ courseDate.lastDate | date('d M Y') }}
																						{% else %}
																							{{ courseDate.startDate | date('d M Y')}}
																							-
																							{{ courseDate.lastDate | date('d M Y') }}
																						{% endif %}
																					{% else %}
																						{{ courseDate.startDate | date('d M Y')}}
																					{% endif %}
																				</div>
																				{% if courseDate.getTeachingArrangement() is not empty %}
																					{% for interestItem in courseDate.getTeachingArrangement() %}
																						{% if interestItem.startTime.getData() is not empty %}
																							<div class="text">
                                                                                                {% if interestItem.venue.getData() is defined and interestItem.venue.getData() != "" %} {{ interestItem.venue.getData()  }} {% endif %} {% if interestItem.venueText.getData() is defined and interestItem.venueText.getData() != "" %} -  {{ interestItem.venueText.getData()  }} {% endif %}
																							</div>
																						{% endif %}
																					{% endfor %}
																				{% endif %}
																			</div>
																		{% else %}
																			<div class="place">
																				<div class="text">TBC</div>
																			</div>
																		{% endif %}
																	{% endfor %}
																{% else %}
																	<div class="place">
																		<div class="text">TBC</div>
																	</div>
																{% endif %}
															</div>
														</div>
													</div>
												</div>
											{% endif %}

										{% endfor %}
									{% endif %}

								</div>
								<div class="view_all">
									{{ pimcore_link('studies',{
                                        'class' : 'view_all_content',
                                        'textSuffix' : '<img src="/static/images/arrow-right.422b4d8.svg" alt="">'
                                    }) }}
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</section>
	</section>
{% endblock %}

