{% extends template_layout_name %}

{% do document.setTitle(list.seoTitle | default(list.title ~ ' — IPOS International')) %}
{% do pimcore_head_meta().setName("description", list.seoDescription | default(list.content | striptags | u.truncate(320))) %}
{% do pimcore_head_meta().setName("keywords", list.tags | default('')) %}

{% set domain = app.request.getSchemeAndHttpHost() %}

{% set img = list.coverImage.getThumbnail('ArticleDetailBackground') %}

{% do pimcore_head_meta().setProperty("og:title", list.seoTitle) %}
{% do pimcore_head_meta().setProperty("og:type", "article") %}
{% do pimcore_head_meta().setProperty("og:description", list.seoDescription) %}
{% do pimcore_head_meta().setProperty("og:image", domain ~ img) %}
{% do pimcore_head_meta().setProperty("og:url", app.request.uri) %}

{% do pimcore_head_meta().setProperty("twitter:card","summary") %}
{% do pimcore_head_meta().setProperty("twitter:url",app.request.uri) %}
{% do pimcore_head_meta().setProperty("twitter:type","article") %}
{% do pimcore_head_meta().setProperty("twitter:title",list.seoTitle) %}
{% do pimcore_head_meta().setProperty("twitter:description",list.seoDescription) %}
{% do pimcore_head_meta().setProperty("twitter:image",domain ~ img) %}
{% do pimcore_head_meta().setProperty("twitter:image:src",domain ~ img) %}

{% block content %}



    <div class="articles_details_container resources_public_container">
        <div class="bg_circle"></div>
        <div class="resources_public_title_nav container">
            <div class="row">
                <div class="col-12">
                    <nav class="d-none d-md-block nav-view" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '&gt;';">
                        <ol class="breadcrumb col-12">
                            <li class="breadcrumb-item"><a href="/">{{ 'Home'|trans }}</a></li>
                            <li class="breadcrumb-item"><a href="{{ pimcore_document(32).fullpath }}">Resources</a></li>
                            <li class="breadcrumb-item"><a href="{{ pimcore_document(33).fullpath }}">Articles</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ list.title  }}</li>
                        </ol>
                    </nav>
                    <div class="d-block d-md-none mobile_nav"><span class="back_arrow">&lt; </span><a href="{{ pimcore_document(27).fullpath }}" class="back_txt">Articles</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container page__title__container">
            <div class="row">
                <div class="col-12">
                    <p class="p__title">{{ list.title }}</p>
                </div>
            </div>
        </div>
        <div class="container author_container">
            <div class="row">
                <div class="col-12">
                    <div class="posted-container">
                        <span class="lable m-r-4">Posted on</span>
                        <span class="value">{{ list.releaseDate | date('d M, Y') }}</span>
                        <br class="d-block d-md-none">
                        {% if list.authorIcon is not empty %}
			    <img class="value-img" src="{{ list.authorIcon.getThumbnail('AuthorLogo') }}" >
                            {# {{ list.authorIcon.thumbnail('ProfilePhoto').html({imgAttributes:{class:'value-img'}}) |raw }}#}
                        {% endif %}
                        <span class="lable m-r-4">By</span>
                        <span class="value">{{ list.author }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="details_img_body_container container">
            <div class="row">
                <div class="col-12"> 
                    <div
						class="content_main_img">
						{% if list.video is not empty %}
							<iframe class="content_img" {#width="560" height="315"#} src="https://www.youtube.com/embed/{{ list.video.data }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						{% else %}
							{% if list.coverImage is not empty %}
								<img class="content_img" src="{{ list.coverImage.getThumbnail('ArticleDetailBackground') }}">
							{% endif %}
						{% endif %}
					</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row main-articles">
                <div class="col-md-8 col-12 column-padding">
                    {{ list.content | raw }}

                    {% if list.bookChat is not empty %}
                        <div class="public_book_card_container">
                            <div class="part_1">
                                <img class="img-bg d-none d-md-block" src="/static/images/ribbon_not_arrow.793b256.svg">
                                <img class="img-bg d-block d-md-none" src="/static/images/ribbon.f4e9e6a.svg">
{#                                <a href="https://iposintl-fe.fixxstaging.com/advisory/ip-chat">#}
                                {% if list.bookChat.chatLogo is not empty %}
				    <img class="img-resoure" src="{{ list.bookChat.chatLogo.getThumbnail('BookIaChat') }}" >
                                    {# {{ list.bookChat.chatLogo.thumbnail('coverImg').html({imgAttributes:{class:'img-resoure'}}) | raw }} #}
                                {% endif %}
{#                                </a>#}
                            </div>
                            <div class="part_2">
                                <p class="title">{{ list.bookChat.title }}</p>
                                {{ list.bookChat.targetLink | raw  }}
{#                                <a class="button" href="https://iposintl-fe.fixxstaging.com/advisory/ip-chat">Book IA Chat Session</a>#}
                            </div>
                        </div>
                    {% endif %}

                </div>
                <div class="col-12 d-block d-md-none">
                    <div class="split-line"></div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="resources_public_recommend-container">
                        {% if list.relatedArticles is not empty %}
                            {% if list.interestedTitle is not empty %}
                                <p class="recommend-title">{{ list.interestedTitle }}</p>
                                {% else %}
                                    <p class="recommend-title">Also Worth Reading/Watching</p>
                            {% endif %}
                            {% for article in list.relatedArticles  %}
                                <a class="recommend_item" href="{{ article }}_{{ article.getId() }}">

                                    {% if  article.coverImage is not empty %}
					<img class="recommend-img" src="{{ article.coverImage.getThumbnail('Also_Worth_Reading_OR_Watching') }}" >
                                        {# {{ article.coverImage.thumbnail('coverImg').html({imgAttributes:{class:'recommend-img'}}) | raw }} #}
                                    {% endif %}
                                    <div class="recommend-txt-layout">
                                        <p class="txt-date">{{ article.resourceType | default('') }}</p>
                                        <p class="recommend-txt-title">{{ article.title }}</p>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}

                        {% if list.shares is not empty %}
                            <div class="share-container">
                                <span class="share-txt">SHARE</span>
                                <div class="share-layout">
                                    {% for share in list.shares %}
                                        {% if share.getShare().class == 'share-icon facebook' %}
                                            <a class="{{ share.getShare().class }}" style="background-image:url('/static/images/icon-Facebook.c78e324.svg')" {{ share.getShare().attributes | raw }} href="{{ share.getShare().direct }}"></a>
                                        {% endif %}

                                        {% if share.getShare().class == 'share-icon linkedin' %}
                                            <a class="{{ share.getShare().class }}" style="background-image:url('/static/images/icon-Linkedin.dac1a71.svg')" {{ share.getShare().attributes | raw }} href="{{ share.getShare().direct }}"></a>
                                        {% endif %}
                                        
                                        {% if share.getShare().class == 'share-icon twitter' %}
                                            <a class="{{ share.getShare().class }}" style="background-image:url('/static/images/icon-Twitter.6adf57e.svg')" {{ share.getShare().attributes | raw }} href="{{ share.getShare().direct }}"></a>
                                        {% endif %}

                                        {% if share.getShare().class == 'share-icon email' %}
                                            <a class="{{ share.getShare().class }}" style="background-image:url('/static/images/icon-Email.bd681cf.svg')" {{ share.getShare().attributes | raw }} href="{{ share.getShare().direct }}"></a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="row main-articles d-none d-md-block">
                <div class="col-12">
                 {#   <div class="split-line"></div> #}
                </div>


             {#   {% if list.tags is not empty %}
                    {% set count = list.tags | length %}
                    <div class="col-12 tag-value">
                        <span class="label">Tags: </span>
                        <span class="value">
                            {% for key, tag in list.tags %}
                                {% if key < count - 1 %}
                                    {{ tag }}
                                    <span class="point">,</span>
                                    {% else %}
                                        {{ tag }}
                                {% endif %}

                            {% endfor %}

                        </span>
                    </div>
                {% endif %} #}

            </div>
        </div>
    </div>

    <script src="/static/static/js/shares.js?v=1.0.0"></script>
{% endblock %}
