{# @var array statisticSelectConfigurations #}
{# @var array statisticTranslatedHeadline #}

{% set statistics = pimcore_block("statistics", {manual: true}).start() %}

{% block row %}
    <div class="row vertical-gutter {{ editmode ? "my-3" }}">
        {% for statistic in pimcore_iterate_block(statistics) %}

            {% do statistics.blockConstruct() %}

            {% set size = "6" %}

            {% if pimcore_select("size").data == "big" %}
                {% set size = "12" %}
            {% endif %}

            {% if editmode %}

                <div class="col-md-{{ size }} vertical-gutter__item">
                    {% do statistics.blockStart() %}

                    {{ include("@PimcorePortalEngine/Areas/portal-engine-statistics/item.html.twig") }}

                    {% do statistics.blockEnd() %}
                </div>

            {% else %}

                {% do statistics.blockStart() %}

                <div class="col-md-{{ size }} vertical-gutter__item">
                    {{ include("@PimcorePortalEngine/Areas/portal-engine-statistics/item.html.twig") }}
                </div>

                {% do statistics.blockEnd() %}

            {% endif %}

            {% do statistics.blockDestruct() %}

        {% endfor %}
    </div>
{% endblock %}
{% do statistics.end() %}
{% do portalEngine_enableStatisticsExplorer() %}