<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {{ include("@PimcorePortalEngine/shared/layout/head.html.twig") }}
</head>
<body class="full-height-layout">

{% set homeLink = document.property(constant("Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Routing::NAVIGATION_ROOT_PROPERTY")) ?? portalEngine_portalConfig().portalDocument %}
{% if app.request.get('publicShareHash') %}
    {% set homeLink = path('pimcore_portalengine_public_share_public_list', {publicShareHash:app.request.get('publicShareHash')}) %}
{% endif %}

{% block navbar %}
    <header class="full-height-layout__fit">
        <nav class="main-navbar js-main-nav">
            <div class="main-navbar__top">
                <div class="container">
                    <div class="row no-gutters flex-nowrap align-items-center">
                        <div class="col-3 col-md-2">

                            <a href="{{ homeLink }}">
                                <img class="img-fluid main-navbar__logo" src="{{ portalEngine_images_logo(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\ImageThumbnails::LOGO')) }}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

<div class="container">
    {% block error_page_content %}
        <div class="page-wrap d-flex flex-row align-items-center mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        {% block error_page_content_details %}
                        {% endblock %}
                        <a href="{{ homeLink }}" class="btn btn-primary">{{ "portal-engine.404.link"|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {{ include('@PimcorePortalEngine/error_page/shared/debug_info.html.twig')}}
</div>
</body>