{% extends "@PimcorePortalEngine/layout/snippet.html.twig" %}

{% block snippetContent %}

    <footer class="full-height-layout__fit">
        <div class="main-footer">
            <div class="container">
                <div class="row justify-content-center justify-content-md-start align-items-center">
                    {% set menuItems = pimcore_block("menu_items", {manual: true}).start() %}
                    {% if editmode or menuItems.count > 0 %}
                        <div class="col {{ portalEngine_editmode_hint_class() }}">
                            {{ include("@PimcorePortalEngine/shared/editmode/label.html.twig", {hint: "footer.menu-items"}) }}

                            {% block footerMenu %}

                                <ul class="list-inline m-0">

                                    {% for item in pimcore_iterate_block(menuItems) %}

                                        {% do menuItems.blockConstruct() %}

                                        <li class="list-inline-item {{ portalEngine_editmode_classes('px-2') }}">
                                            {% do menuItems.blockStart() %}

                                            {{ pimcore_link("link") }}

                                            {% do menuItems.blockEnd() %}
                                        </li>

                                        {% do menuItems.blockDestruct() %}

                                    {% endfor %}

                                    {% do menuItems.end() %}
                                </ul>

                            {% endblock %}
                        </div>
                    {% endif %}

                    <div class="col-auto">
                        {% block footerLogo %}

                            {% if portalEngine_portalConfig().logo %}
                                <img class="img-fluid main-footer__logo" src="{{ portalEngine_images_logo(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\ImageThumbnails::LOGO')) }}">
                            {% else %}

                                <svg width="72px" height="42px" class="img-fluid" viewBox="0 0 72 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <title>Shape</title>
                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="top" transform="translate(-240.000000, -40.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                            <g id="logo-claim">
                                                <g transform="translate(240.000000, 40.000000)">
                                                    <g id="LOGO_7_">
                                                        <path d="M57,6 C51.8,6 47.2,8.7 44.5,12.7 L33.5,29.3 C30.8,33.3 26.2,36 21,36 C12.7,36 6,29.3 6,21 C6,12.7 12.7,6 21,6 C26.2,6 30.7,8.6 33.4,12.6 L35.4,15.6 L39,10.2 L38.5,9.4 C34.7,3.7 28.3,0 21,0 C9.4,0 0,9.4 0,21 C0,32.6 9.4,42 21,42 C28.3,42 34.8,38.3 38.5,32.6 L42.6,26.4 L44.5,29.3 C47.2,33.3 51.8,36 57,36 C65.3,36 72,29.3 72,21 C72,12.7 65.3,6 57,6 Z M57,30 C53.9,30 51.1,28.4 49.5,25.9 L46.2,21 L49.5,16 C51.1,13.6 53.9,12 57,12 C62,12 66,16 66,21 C66,26 62,30 57,30 Z" id="Shape"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>

                            {% endif %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% block copyright %}

            <div class="copyright-bar text-center">
                {% set copyrightInput = pimcore_input("copyright") %}
                {% set copyright = copyrightInput.isEmpty() ? "copyright by pimcore" : copyrightInput.data %}
                {% do copyrightInput.setDataFromResource(copyright) %}

                {{ copyrightInput | raw }}
            </div>
        {% endblock %}
    </footer>

{% endblock %}