{# parameters #}
{% set size = size | default("medium") %}
{% set title = title | default(null) %}
{% set description = description | default(null) %}
{% set url = url | default(null) %}
{% set target = target | default(null) %}
{% set image = image | default(null) %}
{% set imageEditable = imageEditable | default(null) %}
{% set content = content | default(null) %}

{# bootstrap #}
{% set ratio = "18by19" %}
{% set thumbnail = "portal-engine_teaser-1by1" %}

{% if size == "big" %}
    {% set ratio = "2by1" %}
    {% set thumbnail = "portal-engine_teaser-2by1" %}
{% endif %}

{# content #}
<section class="image-teaser position-relative">
    <div class="embed-responsive embed-responsive-{{ ratio }}">
        {% if image %}

            {{ image.thumbnail(thumbnail).html({class: "embed-responsive-item image-teaser__img"}, ["width", "height"]) | raw }}

        {% elseif imageEditable %}

            {{ pimcore_image(imageEditable, {thumbnail: thumbnail, imgAttributes: {class: 'embed-responsive-item image-teaser__img'}, class: "embed-responsive-item image-teaser__img"}).frontend | raw }}

        {% else %}

            <div class="embed-responsive-item"></div>

        {% endif %}
    </div>

    <div class="image-teaser__content">
        <h3 class="image-teaser__content__title">
            {% if url and title %}

                <a href="{{ url }}"{% if target %} target="{{ target }}"{% endif %} class="stretched-link">
                    {{ title | raw }}
                </a>

            {% elseif title %}

                {{ title | raw }}

            {% endif %}
        </h3>

        {% if description %}

            {{ description | raw }}

        {% endif %}

    </div>
</section>



{% if content %}
    <div class="mt-3">
        {{ content | raw }}
    </div>
{% endif %}